In [16]:
#Dal database AdventureWorks estraiamo la tabella dimproduct 
#• Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, 
#e poi al valore intero più vicino 
#• Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000
import os
import dotenv
import sqlalchemy
import pandas as pd
import numpy as np

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query = "SELECT * FROM dimproduct"
dimproduct_df = pd.read_sql(query, db_engine)
display (dimproduct_df)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
0,1,AR-5381,NaN,None,None,Adjustable Race,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
1,2,BA-8327,NaN,None,None,Bearing Ball,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
2,3,BE-2349,NaN,None,None,BB Ball Bearing,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
3,4,BE-2908,NaN,None,None,Headset Ball Bearings,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
4,5,BL-2036,NaN,None,None,Blade,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
601,602,BB-8107,5.0,G,None,ML Bottom Bracket,Eje de pedalier GM,Axe de pédalier ML,44.95,1,...,铝合金车圈；大直径脚蹬轴。,فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...,כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.,ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่,Außenringe aus Aluminiumlegierung; Radachse mi...,アルミニウム合金カップ、大径スピンドル。,Alüminyum alaşımı orta göbekler; geniş çaplı mil.,2013-07-01,NaT,Current
602,603,BB-9108,5.0,G,None,HL Bottom Bracket,Eje de pedalier GA,Axe de pédalier HL,53.94,1,...,铝合金车圈和空心轴。,فناجين من سبيكة الألومنيوم ومحور أجوف.,כיסויים מסגסוגת אלומיניום וציר חלול.,ดุมอลูมิเนียมอัลลอยด์และเพลากลวง,Außenringe aus Aluminiumlegierung und hohle Ac...,アルミニウム合金カップとホロー アクスル。,Alüminyum alaşımı orta göbekler ve içi boş aks.,2013-07-01,NaT,Current
603,604,BK-R19B-44,2.0,LB,CM,"Road-750 Black, 44","Carretera: 750, negra, 44","Vélo de route 750 noir, 44",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
604,605,BK-R19B-48,2.0,LB,CM,"Road-750 Black, 48","Carretera: 750, negra, 48","Vélo de route 750 noir, 48",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current
605,606,BK-R19B-52,2.0,LB,CM,"Road-750 Black, 52","Carretera: 750, negra, 52","Vélo de route 750 noir, 52",343.65,1,...,入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。,إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...,"אופני מבוגרים למתחילים; מציעים רכיבה נוחה ""מחו...",จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...,Ein Erwachsenenrad für Einsteiger; bietet Komf...,エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...,"""Başlangıç seviyesinde yetişkin bisikleti, kır...",2013-07-01,NaT,Current

In [17]:
#• Sulla colonna DealerPrice, utilizzando il metodo .round(), arrotondiamo i valori alle due cifre decimali, 
#e poi al valore intero più vicino
dimproduct_df["DealerPrice"]= dimproduct_df["DealerPrice"].round(2)
print(dimproduct_df["DealerPrice"])

0         NaN
1         NaN
2         NaN
3         NaN
4         NaN
        ...
601     60.74
602     72.89
603    323.99
604    323.99
605    323.99
Name: DealerPrice, Length: 606, dtype: float64

In [18]:
#e poi al valore intero più vicino
dimproduct_df["DealerPrice"] = dimproduct_df["DealerPrice"].round(0)
print(dimproduct_df["DealerPrice"])

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [19]:
#• Utilizzando il metodo .clip(), facciamo in modo che i valori siano compresi tra un minimo di 0 e un massimo di 1000
dimproduct_df_clip = dimproduct_df["DealerPrice"].clip(lower=0, upper=1000)
print(dimproduct_df_clip)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
       ...
601     61.0
602     73.0
603    324.0
604    324.0
605    324.0
Name: DealerPrice, Length: 606, dtype: float64

In [24]:
#Creiamo un DataFrame sintetico, che contiene i guadagni mensili di diverse annate, 
#con il seguente codice: 
years = 5 
guadagni = pd.DataFrame({"Mese": list("GFMAMGLASOND"*years), 
                         "Anno": np.repeat(list(range(years)), 12), 
                         "Valore": np.random.randint(800, 5000, 12*years)}) 
#• Calcola la somma cumulativa dei guadagni utilizzando il metodo .cumsum() 
#• Come sopra, ma raggruppato per ogni anno usando prima un .groupby()
display(guadagni)
cumulativo_totale= guadagni["Valore"].cumsum()
cumulativo_per_anno= guadagni.groupby("Anno")["Valore"].sum()
print("cumulativo totale", cumulativo_totale)
print("cumulativo_per_anno", cumulativo_per_anno)

   Mese  Anno  Valore
0     G     0    4189
1     F     0     895
2     M     0    1230
3     A     0    1669
4     M     0    3275
5     G     0    2951
6     L     0     942
7     A     0    2223
8     S     0    1300
9     O     0    2963
10    N     0    4323
11    D     0    3657
12    G     1    1752
13    F     1    4244
14    M     1    2566
15    A     1    1956
16    M     1    2757
17    G     1    3472
18    L     1    1050
19    A     1    4654
20    S     1    4032
21    O     1    2979
22    N     1    4748
23    D     1    3320
24    G     2    1704
25    F     2    2280
26    M     2    4251
27    A     2    1851
28    M     2    3415
29    G     2    2991
30    L     2    4658
31    A     2    4494
32    S     2    1455
33    O     2    4739
34    N     2    4047
35    D     2    1731
36    G     3    4312
37    F     3    4581
38    M     3    2582
39    A     3    1423
40    M     3    3590
41    G     3    4816
42    L     3    2013
43    A     3    3932
44    S     3    4055
45    O     3    1262
46    N     3    2769
47    D     3    2010
48    G     4    3192
49    F     4    1546
50    M     4    2338
51    A     4    4323
52    M     4    3280
53    G     4    4840
54    L     4    2335
55    A     4    3498
56    S     4    1360
57    O     4    2418
58    N     4    1068
59    D     4    4687

cumulativo totale 0       4189
1       5084
2       6314
3       7983
4      11258
5      14209
6      15151
7      17374
8      18674
9      21637
10     25960
11     29617
12     31369
13     35613
14     38179
15     40135
16     42892
17     46364
18     47414
19     52068
20     56100
21     59079
22     63827
23     67147
24     68851
25     71131
26     75382
27     77233
28     80648
29     83639
30     88297
31     92791
32     94246
33     98985
34    103032
35    104763
36    109075
37    113656
38    116238
39    117661
40    121251
41    126067
42    128080
43    132012
44    136067
45    137329
46    140098
47    142108
48    145300
49    146846
50    149184
51    153507
52    156787
53    161627
54    163962
55    167460
56    168820
57    171238
58    172306
59    176993
Name: Valore, dtype: int64
cumulativo_per_anno Anno
0    29617
1    37530
2    37616
3    37345
4    34885
Name: Valore, dtype: int32

In [25]:
#Dal database AdventureWorks estraiamo la tabella dimcustomer 
#• Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole 
#• Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio 
#• Sulla colonna Phone, estraiamo ogni parte del numero 
#(ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"]) 
#• Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"
import os
import dotenv
import sqlalchemy
import pandas as pd
import numpy as np

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query = "SELECT * FROM dimcustomer"
dimcustomer_df = pd.read_sql(query, db_engine)
display (dimcustomer_df)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
0,11000,26,AW00011000,None,Jon,V,Yang,0,1971-10-06,M,...,Professional,Profesional,Cadre,1,0,3761 N. 14th St,None,1 (11) 500 555-0162,2011-01-19,1-2 Miles
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
2,11002,31,AW00011002,None,Ruben,None,Torres,0,1971-02-09,M,...,Professional,Profesional,Cadre,1,1,5844 Linden Land,None,1 (11) 500 555-0184,2011-01-07,2-5 Miles
3,11003,11,AW00011003,None,Christy,None,Zhu,0,1973-08-14,S,...,Professional,Profesional,Cadre,0,1,1825 Village Pl.,None,1 (11) 500 555-0162,2010-12-29,5-10 Miles
4,11004,19,AW00011004,None,Elizabeth,None,Johnson,0,1979-08-05,S,...,Professional,Profesional,Cadre,1,4,7553 Harness Circle,None,1 (11) 500 555-0131,2011-01-23,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18479,29479,209,AW00029479,None,Tommy,L,Tang,0,1969-06-30,M,...,Clerical,Administrativo,Employé,1,0,"111, rue Maillard",None,1 (11) 500 555-0136,2012-09-04,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles
18481,29481,120,AW00029481,None,Ivan,None,Suri,0,1965-07-04,S,...,Clerical,Administrativo,Employé,0,0,Knaackstr 4,None,1 (11) 500 555-0144,2011-08-13,0-1 Miles
18482,29482,179,AW00029482,None,Clayton,None,Zhang,0,1964-09-01,M,...,Clerical,Administrativo,Employé,1,0,"1080, quai de Grenelle",None,1 (11) 500 555-0137,2012-09-18,0-1 Miles
18483,29483,217,AW00029483,None,Jésus,L,Navarro,0,1965-06-06,M,...,Clerical,Administrativo,Employé,1,0,"244, rue de la Centenaire",None,1 (11) 500 555-0141,2012-09-09,0-1 Miles

In [29]:
#• Trasformiamo i nomi dei clienti in modo che abbiano solo lettere minuscole, e i cognomi in modo che abbiano solo lettere maiuscole
firstname_lower = dimcustomer_df["FirstName"].str.lower()
print(firstname_lower)
lastname_upper = dimcustomer_df["LastName"].str.upper()
print(lastname_upper)

0              jon
1           eugene
2            ruben
3          christy
4        elizabeth
           ...
18479        tommy
18480         nina
18481         ivan
18482      clayton
18483        jésus
Name: FirstName, Length: 18484, dtype: object
0           YANG
1          HUANG
2         TORRES
3            ZHU
4        JOHNSON
          ...
18479       TANG
18480       RAJI
18481       SURI
18482      ZHANG
18483    NAVARRO
Name: LastName, Length: 18484, dtype: object

In [34]:
#• Sulla colonna EmailAddress, utilizzando il metodo .str.split(), estraiamo nome utente e dominio 
print (dimcustomer_df["EmailAddress"])
email_split =  dimcustomer_df["EmailAddress"].str.split("@", expand=True)
# Rinominare le colonne
email_split.columns = ["NomeUtente", "Dominio"]
print (email_split)

0             jon24@adventure-works.com
1          eugene10@adventure-works.com
2           ruben35@adventure-works.com
3         christy12@adventure-works.com
4        elizabeth5@adventure-works.com
                      ...
18479        tommy2@adventure-works.com
18480        nina21@adventure-works.com
18481         ivan0@adventure-works.com
18482      clayton0@adventure-works.com
18483        jésus9@adventure-works.com
Name: EmailAddress, Length: 18484, dtype: object
       NomeUtente              Dominio
0           jon24  adventure-works.com
1        eugene10  adventure-works.com
2         ruben35  adventure-works.com
3       christy12  adventure-works.com
4      elizabeth5  adventure-works.com
...           ...                  ...
18479      tommy2  adventure-works.com
18480      nina21  adventure-works.com
18481       ivan0  adventure-works.com
18482    clayton0  adventure-works.com
18483      jésus9  adventure-works.com

[18484 rows x 2 columns]

In [37]:
#• Sulla colonna Phone, estraiamo ogni parte del numero 
#(ad es. da "1 (11) 500 555-0162" a ["1", "(11)", "500", "555-0162"]) 
print (dimcustomer_df["Phone"])
phone_split =  dimcustomer_df["Phone"].str.split(" ", expand=True)
print(phone_split)

0        1 (11) 500 555-0162
1        1 (11) 500 555-0110
2        1 (11) 500 555-0184
3        1 (11) 500 555-0162
4        1 (11) 500 555-0131
                ...
18479    1 (11) 500 555-0136
18480    1 (11) 500 555-0146
18481    1 (11) 500 555-0144
18482    1 (11) 500 555-0137
18483    1 (11) 500 555-0141
Name: Phone, Length: 18484, dtype: object
       0     1    2         3
0      1  (11)  500  555-0162
1      1  (11)  500  555-0110
2      1  (11)  500  555-0184
3      1  (11)  500  555-0162
4      1  (11)  500  555-0131
...   ..   ...  ...       ...
18479  1  (11)  500  555-0136
18480  1  (11)  500  555-0146
18481  1  (11)  500  555-0144
18482  1  (11)  500  555-0137
18483  1  (11)  500  555-0141

[18484 rows x 4 columns]

In [39]:
#• Utilizzando il metodo .str.contains(), estraiamo tutti gli indirizzi e-mail che contengono il numero "21"
email_21 = dimcustomer_df.loc[dimcustomer_df["EmailAddress"].str.contains("21")]
display (email_21)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
64,11064,315,AW00011064,None,Chase,None,Reed,0,1981-06-05,M,...,Skilled Manual,Obrero especializado,Technicien,1,2,2721 Alexander Pl.,None,892-555-0184,2013-01-25,5-10 Miles
118,11118,6,AW00011118,None,Alvin,M,Zeng,0,1962-12-31,S,...,Skilled Manual,Obrero especializado,Technicien,0,1,3853 Wildcat Circle,Unit 13c12,1 (11) 500 555-0174,2013-07-10,0-1 Miles
130,11130,543,AW00011130,None,Caroline,L,Russell,0,1985-07-05,M,...,Skilled Manual,Obrero especializado,Technicien,1,2,3884 Bates Court,None,424-555-0137,2013-12-09,5-10 Miles
163,11163,372,AW00011163,None,Gabriel,None,Wang,0,1980-06-18,M,...,Skilled Manual,Obrero especializado,Technicien,1,1,8002 Crane Court,None,617-555-0150,2013-05-01,5-10 Miles
203,11203,60,AW00011203,None,Luis,D,Diaz,0,1959-08-18,M,...,Professional,Profesional,Cadre,1,2,3682 Diablo View Road,None,171-555-0126,2013-02-20,10+ Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18337,29337,22,AW00029337,None,Hector,A,Gomez,0,1943-08-18,S,...,Clerical,Administrativo,Employé,1,2,3788 Linden Lane,None,1 (11) 500 555-0116,2013-05-15,5-10 Miles
18365,29365,175,AW00029365,None,Cheryl,M,Carlson,0,1971-07-07,S,...,Manual,Obrero,Ouvrier,1,1,Helsenbergbogen 6,None,1 (11) 500 555-0161,2013-11-01,2-5 Miles
18435,29435,178,AW00029435,None,Stanley,None,Rodriguez,0,1968-05-10,M,...,Manual,Obrero,Ouvrier,1,0,Zeiter Weg 2264,None,1 (11) 500 555-0166,2013-04-22,0-1 Miles
18440,29440,159,AW00029440,None,Rafael,A,Cai,0,1967-04-09,S,...,Clerical,Administrativo,Employé,1,0,Hellweg 4754,None,1 (11) 500 555-0129,2013-12-03,0-1 Miles
18480,29480,248,AW00029480,None,Nina,W,Raji,0,1977-05-06,S,...,Clerical,Administrativo,Employé,1,0,9 Katherine Drive,None,1 (11) 500 555-0146,2013-07-17,0-1 Miles

In [44]:
#• Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10" 
#• Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i cinque più lunghi e i cinque più corti 
#• Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace() 
#• Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"


#• Estraiamo tutti gli indirizzi e-mail che contengono il numero "20" oppure il numero "10"
email_20_10 = dimcustomer_df.loc[dimcustomer_df["EmailAddress"].str.contains("20|10", na=False)]
display(email_20_10)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,EnglishOccupation,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance
1,11001,37,AW00011001,None,Eugene,L,Huang,0,1976-05-10,S,...,Professional,Profesional,Cadre,0,1,2243 W St.,None,1 (11) 500 555-0110,2011-01-15,0-1 Miles
10,11010,22,AW00011010,None,Jacquelyn,C,Suarez,0,1969-08-05,S,...,Professional,Profesional,Cadre,0,1,7800 Corrinne Court,None,1 (11) 500 555-0169,2011-01-14,5-10 Miles
22,11022,609,AW00011022,None,Ethan,G,Zhang,0,1984-04-10,M,...,Skilled Manual,Obrero especializado,Technicien,1,1,1769 Nicholas Drive,None,589-555-0185,2013-01-20,5-10 Miles
30,11030,28,AW00011030,None,Bethany,G,Yuan,0,1958-02-18,M,...,Clerical,Administrativo,Employé,1,2,636 Vine Hill Way,None,1 (11) 500 555-0182,2011-02-05,1-2 Miles
32,11032,35,AW00011032,None,Denise,None,Stone,0,1952-12-08,M,...,Skilled Manual,Obrero especializado,Technicien,1,2,626 Bentley Street,None,1 (11) 500 555-0169,2011-02-18,1-2 Miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18395,29395,203,AW00029395,None,Lydia,None,Rana,0,1939-10-06,S,...,Clerical,Administrativo,Employé,0,1,"182, avenue des Laurentides",None,1 (11) 500 555-0182,2013-12-05,1-2 Miles
18397,29397,193,AW00029397,None,Walter,E,Ramos,0,1976-05-10,M,...,Clerical,Administrativo,Employé,1,1,"2408, rue Maillard",None,1 (11) 500 555-0143,2012-08-08,0-1 Miles
18415,29415,223,AW00029415,None,Oscar,L,Flores,0,1983-03-25,S,...,Clerical,Administrativo,Employé,1,1,"816, avenue des Champs-Elysées",None,1 (11) 500 555-0112,2012-08-02,2-5 Miles
18418,29418,163,AW00029418,None,Lindsey,None,Sharma,0,1981-04-19,S,...,Manual,Obrero,Ouvrier,0,1,Zollstr 680,Verkaufsabteilung,1 (11) 500 555-0134,2013-12-22,5-10 Miles
18428,29428,156,AW00029428,None,Kristopher,E,Perez,0,1979-12-09,M,...,Manual,Obrero,Ouvrier,1,2,Altendorfer Straße 39,Einkaufsabteilung,1 (11) 500 555-0183,2013-02-05,1-2 Miles

In [51]:
#• Calcolare la lunghezza di ogni indirizzo e-mail ed estrarre i cinque più lunghi e i cinque più corti
dimcustomer_df["EmailLen"] = dimcustomer_df["EmailAddress"].str.len()
dimcustomer_sorted = dimcustomer_df.sort_values("EmailLen")

short = dimcustomer_sorted.head(5)

long = dimcustomer_sorted.tail(5)
display (short)
display (long)

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,EmailLen
3974,14974,249,AW00014974,Mr.,K.,None,Saravan,0,1984-12-29,S,...,Administrativo,Employé,1,2,3272 Ryan Court,None,156-555-0100,2013-03-31,0-1 Miles,22
15299,26299,642,AW00026299,None,Y.,L.,Yong,0,1983-07-24,S,...,Obrero especializado,Technicien,0,0,5387 La Orinda Pl.,None,856-555-0157,2012-02-15,0-1 Miles,22
1658,12658,279,AW00012658,None,Joy,J,Gomez,0,1960-01-08,M,...,Gestión,Direction,1,4,1698 10th Avenue,None,1 (11) 500 555-0127,2012-09-10,0-1 Miles,24
550,11550,263,AW00011550,None,Deb,None,Torres,0,1979-08-05,S,...,Administrativo,Employé,1,0,7553 Harness Circle,None,1 (11) 500 555-0125,2012-01-20,0-1 Miles,24
13888,24888,35,AW00024888,None,Roy,None,Srini,0,1980-07-10,S,...,Profesional,Cadre,0,2,6093 Hilltop Road,None,1 (11) 500 555-0117,2012-03-11,5-10 Miles,24

,CustomerKey,GeographyKey,CustomerAlternateKey,Title,FirstName,MiddleName,LastName,NameStyle,BirthDate,MaritalStatus,...,SpanishOccupation,FrenchOccupation,HouseOwnerFlag,NumberCarsOwned,AddressLine1,AddressLine2,Phone,DateFirstPurchase,CommuteDistance,EmailLen
3512,14512,633,AW00014512,None,Christopher,J,Jones,0,1979-09-03,M,...,Gestión,Direction,1,3,5077 Bannock Ct.,None,852-555-0198,2013-02-06,1-2 Miles,33
4973,15973,638,AW00015973,None,Christopher,None,Garcia,0,1942-05-23,M,...,Gestión,Direction,1,2,8714 Minert Rd,None,171-555-0119,2013-12-03,1-2 Miles,33
13417,24417,359,AW00024417,None,Christopher,A,Harris,0,1967-01-17,S,...,Gestión,Direction,0,3,1401 Via Alta,None,267-555-0140,2013-01-08,2-5 Miles,33
2655,13655,609,AW00013655,None,Christopher,L,Walker,0,1951-12-31,M,...,Gestión,Direction,1,3,7646 H Stagecoach Rd,None,102-555-0150,2013-11-06,5-10 Miles,33
16661,27661,343,AW00027661,None,Christopher,F,Martinez,0,1942-02-07,M,...,Gestión,Direction,1,4,7299 Pheasant Ct.,None,491-555-0116,2013-02-24,5-10 Miles,33

In [56]:
#• Modificare il dominio degli indirizzi e-mail da "adventure-works.com" a "aw-db.com" mediante il metodo .str.replace() 
print ( dimcustomer_df["EmailAddress"])
dimcustomer_df["EmailAddress2"] = dimcustomer_df["EmailAddress"].str.replace("adventure-works.com" , "aw-db.com")
print ( dimcustomer_df["EmailAddress2"])

0             jon24@adventure-works.com
1          eugene10@adventure-works.com
2           ruben35@adventure-works.com
3         christy12@adventure-works.com
4        elizabeth5@adventure-works.com
                      ...
18479        tommy2@adventure-works.com
18480        nina21@adventure-works.com
18481         ivan0@adventure-works.com
18482      clayton0@adventure-works.com
18483        jésus9@adventure-works.com
Name: EmailAddress, Length: 18484, dtype: object
0             jon24@aw-db.com
1          eugene10@aw-db.com
2           ruben35@aw-db.com
3         christy12@aw-db.com
4        elizabeth5@aw-db.com
                 ...
18479        tommy2@aw-db.com
18480        nina21@aw-db.com
18481         ivan0@aw-db.com
18482      clayton0@aw-db.com
18483        jésus9@aw-db.com
Name: EmailAddress2, Length: 18484, dtype: object

In [58]:
#• Dalla colonna AddressLine1 estraiamo tutti gli indirizzi che contengono la sottostringa "Street"
print ( dimcustomer_df["AddressLine1"])
dimcustomer_df_street = dimcustomer_df.loc[dimcustomer_df["AddressLine1"].str.contains("Street", regex=False)]

print (dimcustomer_df_street)

0                  3761 N. 14th St
1                       2243 W St.
2                 5844 Linden Land
3                 1825 Village Pl.
4              7553 Harness Circle
                   ...
18479            111, rue Maillard
18480            9 Katherine Drive
18481                  Knaackstr 4
18482       1080, quai de Grenelle
18483    244, rue de la Centenaire
Name: AddressLine1, Length: 18484, dtype: object
       CustomerKey  GeographyKey CustomerAlternateKey Title FirstName  \
7            11007            40           AW00011007  None     Marco
12           11012           611           AW00011012  None    Lauren
32           11032            35           AW00011032  None    Denise
63           11063           634           AW00011063  None    Angela
125          11125            37           AW00011125  None      Dana
...            ...           ...                  ...   ...       ...
18273        29273           298           AW00029273  None   Timothy
18292        29292            34           AW00029292  None     Diana
18323        29323            60           AW00029323  None    Andrea
18333        29333            27           AW00029333  None      Abby
18351        29351            49           AW00029351  None     Jason

      MiddleName   LastName  NameStyle   BirthDate MaritalStatus  ...  \
7           None      Mehta          0  1969-11-06             M  ...
12             M     Walker          0  1979-01-14             M  ...
32          None      Stone          0  1952-12-08             M  ...
63          None     Murphy          0  1980-10-04             S  ...
125            J    Navarro          0  1961-10-06             S  ...
...          ...        ...        ...         ...           ...  ...
18273          O      Lopez          0  1971-02-08             M  ...
18292          L  Dominguez          0  1978-01-03             S  ...
18323       None     Cooper          0  1981-09-12             S  ...
18333       None   Martinez          0  1943-03-10             S  ...
18351          A       Hall          0  1970-12-24             S  ...

                 AddressLine1 AddressLine2                Phone  \
7            942 Brook Street         None  1 (11) 500 555-0126
12          4785 Scott Street         None         717-555-0164
32         626 Bentley Street         None  1 (11) 500 555-0169
63         4927 Virgil Street         # 21         451-555-0162
125        8481 Zartop Street         None  1 (11) 500 555-0172
...                       ...          ...                  ...
18273      2155 Zartop Street         None         137-555-0130
18292       3931 Scott Street         None  1 (11) 500 555-0117
18323  134 Peachwillow Street         None         586-555-0120
18333     1023 Hawkins Street         None  1 (11) 500 555-0150
18351        8618 Rose Street         None         158-555-0156

       DateFirstPurchase  CommuteDistance  EmailLen           EmaiAdress  \
7             2011-01-09        0-1 Miles        27    marco14@aw-db.com
12            2013-03-16        1-2 Miles        28   lauren41@aw-db.com
32            2011-02-18        1-2 Miles        28   denise10@aw-db.com
63            2013-01-12       5-10 Miles        28   angela41@aw-db.com
125           2013-01-31       5-10 Miles        25      dana2@aw-db.com
...                  ...              ...       ...                  ...
18273         2013-08-26       5-10 Miles        29  timothy38@aw-db.com
18292         2013-04-07        0-1 Miles        27    diana12@aw-db.com
18323         2013-08-13       5-10 Miles        28   andrea17@aw-db.com
18333         2013-03-08        0-1 Miles        26     abby15@aw-db.com
18351         2013-10-11        0-1 Miles        27    jason49@aw-db.com

               EmailAdress         EmailAdress2        EmailAddress2
7        marco14@aw-db.com    marco14@aw-db.com    marco14@aw-db.com
12      lauren41@aw-db.com   lauren41@aw-db.com   lauren41@aw-db.com
32      denise10@aw-db.com   denise10@aw-db.com   denise10@aw-db.com
63      angela41@aw-db.com   angela41@aw-db.com   angela41@aw-db.com
125        dana2@aw-db.com      dana2@aw-db.com      dana2@aw-db.com
...                    ...                  ...                  ...
18273  timothy38@aw-db.com  timothy38@aw-db.com  timothy38@aw-db.com
18292    diana12@aw-db.com    diana12@aw-db.com    diana12@aw-db.com
18323   andrea17@aw-db.com   andrea17@aw-db.com   andrea17@aw-db.com
18333     abby15@aw-db.com     abby15@aw-db.com     abby15@aw-db.com
18351    jason49@aw-db.com    jason49@aw-db.com    jason49@aw-db.com

[512 rows x 34 columns]

In [59]:
#Dai beginner_datasets carichiamo in un DataFrame il file facebook.csv, che contiene dei post con data di pubblicazione, 
#tipo (foto, video, …) e numero di reactions raccolte: 
#• Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp 
#• Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, 
#ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, 
#il giorno dell'anno, eccetera.
face = pd.read_csv("facebook.csv")
print(face.shape)
display(face.sample(10))
print(face.columns)

(7050, 12)

,status_id,status_type,status_published,num_reactions,num_comments,num_shares,num_likes,num_loves,num_wows,num_hahas,num_sads,num_angrys
5187,614855718638584_812696432187844,photo,5/3/2018 1:43,22,0,0,22,0,0,0,0,0
35,246675545449582_1599393216844468,photo,3/5/2018 2:48,293,8,0,281,11,1,0,0,0
10,246675545449582_1637655039684952,photo,4/10/2018 1:01,210,2,3,202,7,1,0,0,0
1800,246675545449582_387511218032680,photo,6/14/2013 8:05,49,2,2,49,0,0,0,0,0
1780,246675545449582_393147757469026,photo,6/25/2013 22:33,4,0,1,4,0,0,0,0,0
2047,246675545449582_302341609882975,photo,12/21/2012 6:02,4,1,0,4,0,0,0,0,0
1297,246675545449582_690063297777469,photo,1/14/2015 8:17,1492,5,0,1492,0,0,0,0,0
5818,614855718638584_673390092785146,video,12/12/2017 7:16,36,0,0,35,1,0,0,0,0
3670,134115277150304_161778514383980,photo,8/6/2017 23:09,29,7,0,29,0,0,0,0,0
4421,848451358648417_856803087813244,video,11/12/2017 3:18,0,0,0,0,0,0,0,0,0

Index(['status_id', 'status_type', 'status_published', 'num_reactions',
       'num_comments', 'num_shares', 'num_likes', 'num_loves', 'num_wows',
       'num_hahas', 'num_sads', 'num_angrys'],
      dtype='object')

In [62]:
#• Con la funzione pd.to_datetime() convertiamo la colonna status_published in formato Timestamp 
#• Utilizzando gli attributi .dt.year , .dt.month , .dt.day , .dt.dayofweek , .dt.dayofyear, 
#ottieniamo informazioni specifiche sulle date delle transazioni, come l'anno, il mese, il giorno della settimana, 
#il giorno dell'anno, eccetera.
face["status_published"] = pd.to_datetime(face["status_published"])
face["Year"] = face.loc [:,"status_published"].dt.year
face["Month"] = face.loc [:,"status_published"].dt.month
face["Day"] = face.loc [:,"status_published"].dt.day
face["DayOfWeek"] = face.loc [:,"status_published"].dt.dayofweek
face["DayOfYear"] = face.loc [:,"status_published"].dt.dayofyear
print (face["Year"] , face["Month"] , face["Day"] , face["DayOfWeek"] , face["DayOfYear"])

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
7045    2016
7046    2016
7047    2016
7048    2016
7049    2016
Name: Year, Length: 7050, dtype: int32 0       4
1       4
2       4
3       4
4       4
       ..
7045    9
7046    9
7047    9
7048    9
7049    9
Name: Month, Length: 7050, dtype: int32 0       22
1       21
2       21
3       21
4       18
        ..
7045    24
7046    23
7047    21
7048    20
7049    10
Name: Day, Length: 7050, dtype: int32 0       6
1       5
2       5
3       5
4       2
       ..
7045    5
7046    4
7047    2
7048    1
7049    5
Name: DayOfWeek, Length: 7050, dtype: int32 0       112
1       111
2       111
3       111
4       108
       ...
7045    268
7046    267
7047    265
7048    264
7049    254
Name: DayOfYear, Length: 7050, dtype: int32

In [75]:
#• Estraiamo solo i post relativi al 2012 
#• Estraiamo solo i post relativi a maggio 2018 
#• Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana 
#• Troviamo il primo e ultimo post pubblicati in ogni anno 
#• Quanti tipi di post ci sono? E quanti per ogni tipo?

#• Estraiamo solo i post relativi al 2012 
filtro = face["Year"] == 2012
post_2012 = face.loc[filtro]
print (post_2012)


#• Estraiamo solo i post relativi a maggio 2018 
filtro2 = face["Year"] == 2018
filtro3 = face["Month"] == 5
post_may_2018 = face.loc[filtro2 & filtro3]
print (post_may_2018)


#• Confrontiamo il numero di post pubblicati nei weekend rispetto al numero di post pubblicati nel resto della settimana 
filtro4 = face["DayOfWeek"].isin([0, 1, 2, 3, 4])
filtro5 = face["DayOfWeek"].isin([5, 6])

post_settimana = face[filtro4].shape[0]
post_weekend = face[filtro5].shape[0]
print("Post della settimana:", post_settimana)
print("Post del weekend:", post_weekend)


#• Troviamo il primo e ultimo post pubblicati in ogni anno
for year in face["Year"].unique():
    df_year = face[face["Year"] == year]  # Filtra per l'anno
    primo_post = df_year.head(1)          # Primo post dell'anno
    ultimo_post = df_year.tail(1)         # Ultimo post dell'anno
    print(f"Anno: {year} \nPrimo post: {primo_post} \nUltimo post: {ultimo_post}")


#• Quanti tipi di post ci sono? E quanti per ogni tipo?
tipologia_post = face["status_type"].unique()
print ("Le tipologie di post sono " , tipologia_post)
conteggio_post = face["status_type"].value_counts()
print("Conteggio post per ogni tipologia \n" , conteggio_post)

                            status_id status_type    status_published  \
2046  246675545449582_303160673134402       photo 2012-12-23 03:11:00
2047  246675545449582_302341609882975       photo 2012-12-21 06:02:00
2048  246675545449582_299212316862571       photo 2012-12-13 11:36:00
2049  246675545449582_290159194434550       photo 2012-11-18 09:50:00
2050  246675545449582_290154177768385       photo 2012-11-18 09:16:00
...                               ...         ...                 ...
2630  246675545449582_246688625448274       photo 2012-07-15 03:54:00
2631  246675545449582_246686478781822       photo 2012-07-15 03:42:00
2632  246675545449582_246684432115360       photo 2012-07-15 03:32:00
2633  246675545449582_246678538782616       photo 2012-07-15 02:58:00
2634  246675545449582_246677465449390       photo 2012-07-15 02:51:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2046              0             0           0          0          0         0
2047              4             1           0          4          0         0
2048              3             0           0          3          0         0
2049              5             1           1          5          0         0
2050              2             0           0          2          0         0
...             ...           ...         ...        ...        ...       ...
2630             19            17           3         19          0         0
2631             12             3           0         12          0         0
2632             14             1           0         14          0         0
2633             14             7           0         14          0         0
2634             15             3           0         15          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
2046          0         0           0  2012     12   23          6        358
2047          0         0           0  2012     12   21          4        356
2048          0         0           0  2012     12   13          3        348
2049          0         0           0  2012     11   18          6        323
2050          0         0           0  2012     11   18          6        323
...         ...       ...         ...   ...    ...  ...        ...        ...
2630          0         0           0  2012      7   15          6        197
2631          0         0           0  2012      7   15          6        197
2632          0         0           0  2012      7   15          6        197
2633          0         0           0  2012      7   15          6        197
2634          0         0           0  2012      7   15          6        197

[589 rows x 17 columns]
                              status_id status_type    status_published  \
2690    134115277150304_264554297439734       photo 2018-05-31 12:17:00
2691    134115277150304_264493694112461       photo 2018-05-31 08:37:00
2692    134115277150304_264416247453539       photo 2018-05-31 03:12:00
2693    134115277150304_264168277478336       photo 2018-05-30 08:46:00
2694    134115277150304_264160757479088       photo 2018-05-30 08:24:00
...                                 ...         ...                 ...
6339  1050855161656896_1615666458509094        link 2018-05-04 01:27:00
6340  1050855161656896_1614717551937318       photo 2018-05-03 01:15:00
6341  1050855161656896_1614187798656960       photo 2018-05-02 12:17:00
6342  1050855161656896_1613063202102753       video 2018-05-01 08:38:00
6343  1050855161656896_1612778858797854       photo 2018-05-01 01:18:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2690             11             0           0         10          0         1
2691             56             4           2         55          1         0
2692             72            13           1         69          3         0
2693             10             0           0         10          0         0
2694             56             3          12         54          2         0
...             ...           ...         ...        ...        ...       ...
6339             12             7           7         12          0         0
6340             63            21           1         62          1         0
6341            218           105         153        212          2         4
6342            246          2373         475        108        130         5
6343             34             5           0         33          1         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
2690          0         0           0  2018      5   31          3        151
2691          0         0           0  2018      5   31          3        151
2692          0         0           0  2018      5   31          3        151
2693          0         0           0  2018      5   30          2        150
2694          0         0           0  2018      5   30          2        150
...         ...       ...         ...   ...    ...  ...        ...        ...
6339          0         0           0  2018      5    4          4        124
6340          0         0           0  2018      5    3          3        123
6341          0         0           0  2018      5    2          2        122
6342          2         1           0  2018      5    1          1        121
6343          0         0           0  2018      5    1          1        121

[595 rows x 17 columns]
Post della settimana: 5009
Post del weekend: 2041
Anno: 2018
Primo post:                           status_id status_type    status_published  \
0  246675545449582_1649696485147474       video 2018-04-22 06:00:00

   num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
0            529           512         262        432         92         3

   num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
0          1         1           0  2018      4   22          6        112
Ultimo post:                               status_id status_type    status_published  \
6562  1050855161656896_1495116993897375       photo 2018-01-03 04:17:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
6562            132            24           0        131          0         1

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
6562          0         0           0  2018      1    3          2          3
Anno: 2017
Primo post:                            status_id status_type    status_published  \
86  246675545449582_1530240427093081       photo 2017-12-26 06:23:00

    num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
86            293             6           1        275         15         3

    num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
86          0         0           0  2017     12   26          1        360
Ultimo post:                               status_id status_type    status_published  \
7002  1050855161656896_1158522910890120       photo 2017-01-06 04:50:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
7002             15             0           1         11          2         1

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
7002          1         0           0  2017      1    6          4          6
Anno: 2016
Primo post:                             status_id status_type    status_published  \
435  246675545449582_1157109567739504       photo 2016-12-31 05:13:00

     num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
435            304             9           6        298          5         1

     num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
435          0         0           0  2016     12   31          5        366
Ultimo post:                               status_id status_type    status_published  \
7049  1050855161656896_1050858841656528       photo 2016-09-10 10:30:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
7049             17             0           0         17          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
7049          0         0           0  2016      9   10          5        254
Anno: 2015
Primo post:                            status_id status_type    status_published  \
976  246675545449582_867129116737552       photo 2015-12-31 08:20:00

     num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
976            318             7           1        318          0         0

     num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
976          0         0           0  2015     12   31          3        365
Ultimo post:                             status_id status_type    status_published  \
1312  246675545449582_682315955218870       video 2015-01-02 03:41:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
1312           1294            23          47       1294          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
1312          0         0           0  2015      1    2          4          2
Anno: 2014
Primo post:                             status_id status_type    status_published  \
1313  246675545449582_668776289906170       video 2014-12-10 07:42:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
1313           1501           113          38       1501          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
1313          0         0           0  2014     12   10          2        344
Ultimo post:                             status_id status_type    status_published  \
1545  246675545449582_486434424807025       video 2014-01-05 09:23:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
1545            460            31           1        460          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
1545          0         0           0  2014      1    5          6          5
Anno: 2013
Primo post:                             status_id status_type    status_published  \
1546  246675545449582_484017401715394       video 2013-12-31 23:38:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
1546            100             0           0        100          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
1546          0         0           0  2013     12   31          1        365
Ultimo post:                             status_id status_type    status_published  \
2045  246675545449582_307286656055137       photo 2013-01-02 02:23:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2045             25             3           1         25          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
2045          0         0           0  2013      1    2          2          2
Anno: 2012
Primo post:                             status_id status_type    status_published  \
2046  246675545449582_303160673134402       photo 2012-12-23 03:11:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2046              0             0           0          0          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
2046          0         0           0  2012     12   23          6        358
Ultimo post:                             status_id status_type    status_published  \
2634  246675545449582_246677465449390       photo 2012-07-15 02:51:00

      num_reactions  num_comments  num_shares  num_likes  num_loves  num_wows  \
2634             15             3           0         15          0         0

      num_hahas  num_sads  num_angrys  Year  Month  Day  DayOfWeek  DayOfYear
2634          0         0           0  2012      7   15          6        197
Le tipologie di post sono  ['video' 'photo' 'link' 'status']
Conteggio post per ogni tipologia
 status_type
photo     4288
video     2334
status     365
link        63
Name: count, dtype: int64

In [97]:
#Dai beginner_dataset carichiamo in un DataFrame il file pokemon.csv: 
#• Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli 
#ci sono in ogni colonna 
#• Ci sono valori nulli? SI 386 nulli nella colonna "Type 2"
#• Se sì, avrebbe senso cercare di riempirli? 


#• Eliminiamo le righe che contengono valori nulli
poke = pd.read_csv("pokemon.csv")
print(poke.shape)
display(poke.sample(10))
poke.info()

#• Tramite i metodi .isnull() e .sum() controlliamo se ci sono valori nulli nel dataset e contiamo quanti valori nulli 
#ci sono in ogni colonna 
print(poke.isnull().sum())
#ci sono 386 valori nulli nella colonna Type 2

#• Eliminiamo le righe che contengono valori nulli
poke_no_null = poke.dropna()

#• Se sì, avrebbe senso cercare di riempirli? 
#Si, possiamo riempirli uguagliando l'istanza nella colonna Type 2 con quella nella colonna Type 1
filtro = poke["Type 2"].isna()
sub = poke.loc[filtro, "Type 1"]
poke.loc[filtro, "Type 2"] = sub

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
741,673,Gogoat,Grass,NaN,531,123,100,62,97,81,68,6,False
763,693,Clawitzer,Water,NaN,500,71,73,88,120,89,59,6,False
426,384,RayquazaMega Rayquaza,Dragon,Flying,780,105,180,100,180,100,115,3,True
120,112,Rhydon,Ground,Rock,485,105,130,120,45,45,40,1,False
761,691,Dragalge,Poison,Dragon,494,65,75,90,97,123,44,6,False
535,479,RotomFan Rotom,Electric,Flying,520,50,65,107,105,107,86,4,False
463,416,Vespiquen,Bug,Flying,474,70,80,102,80,102,40,4,False
376,344,Claydol,Ground,Psychic,500,60,70,105,70,120,75,3,False
695,634,Zweilous,Dark,Dragon,420,72,85,70,65,70,58,5,False
653,592,Frillish,Water,Ghost,335,55,40,50,65,85,40,5,False

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB
#               0
Name            0
Type 1          0
Type 2        386
Total           0
HP              0
Attack          0
Defense         0
Sp. Atk         0
Sp. Def         0
Speed           0
Generation      0
Legendary       0
dtype: int64

In [106]:
#Dai beginner_dataset carichiamo in un DataFrame il file automobile.csv: 
#• Ci sono valori nulli? Dove? Quanti? 
#• Quali righe hanno un valore nullo nella colonna num-of-doors? 
#• Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors

auto = pd.read_csv("automobile.csv")
print(auto.shape)
display(auto.sample(10))
auto.info()

print(auto.isnull().sum())
#ci sono 37 valori nulli nella colonna "normalized-losses" e 2 valori nulli nella colonna "num-of-doors"

#• Quali righe hanno un valore nullo nella colonna num-of-doors? 
filtro= auto["num-of-doors"].isna()
righe_nulle = auto.loc[filtro]
display(righe_nulle)

#• Esaminando i dati nel dataset, cerchiamo una logica per sostituire i valori nulli nella colonna num-of-doors
print(auto.groupby("body-style")["num-of-doors"].value_counts())
#le sedan hanno per la maggiore 4 porte, perciò è probabile che i dati mancanti siano proprio "four"!
auto["num-of-doors"] = auto["num-of-doors"].fillna("four")

(202, 26)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
151,0,91.0,toyota,gas,std,four,wagon,4wd,front,95.7,...,92,2bbl,3.05,3.03,9.0,62,4800,27,32,8778
51,1,113.0,mazda,gas,std,four,sedan,fwd,front,93.1,...,91,2bbl,3.08,3.15,9.0,68,5000,31,38,7395
174,3,197.0,toyota,gas,std,two,hatchback,rwd,front,102.9,...,171,mpfi,3.27,3.35,9.3,161,5200,20,24,16558
118,1,154.0,plymouth,gas,std,four,sedan,fwd,front,93.7,...,90,2bbl,2.97,3.23,9.4,68,5500,31,38,6692
76,1,161.0,mitsubishi,gas,turbo,two,hatchback,fwd,front,93.0,...,98,spdi,3.03,3.39,7.6,102,5500,24,30,7689
47,1,104.0,mazda,gas,std,two,hatchback,fwd,front,93.1,...,91,2bbl,3.03,3.15,9.0,68,5000,30,31,5195
29,2,137.0,honda,gas,std,two,hatchback,fwd,front,86.6,...,92,1bbl,2.91,3.41,9.6,58,4800,49,54,6479
27,-1,110.0,dodge,gas,std,four,wagon,fwd,front,103.3,...,122,2bbl,3.34,3.46,8.5,88,5000,24,30,8921
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
161,1,168.0,toyota,gas,std,two,sedan,rwd,front,94.5,...,98,mpfi,3.24,3.08,9.4,112,6600,26,29,9298

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 202 entries, 0 to 201
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          202 non-null    int64
 1   normalized-losses  165 non-null    float64
 2   make               202 non-null    object
 3   fuel-type          202 non-null    object
 4   aspiration         202 non-null    object
 5   num-of-doors       200 non-null    object
 6   body-style         202 non-null    object
 7   drive-wheels       202 non-null    object
 8   engine-location    202 non-null    object
 9   wheel-base         202 non-null    float64
 10  length             202 non-null    float64
 11  width              202 non-null    float64
 12  height             202 non-null    float64
 13  curb-weight        202 non-null    int64
 14  engine-type        202 non-null    object
 15  num-of-cylinders   202 non-null    object
 16  engine-size        202 non-null    int64
 17  fuel-system        202 non-null    object
 18  bore               202 non-null    object
 19  stroke             202 non-null    object
 20  compression-ratio  202 non-null    float64
 21  horsepower         202 non-null    object
 22  peak-rpm           202 non-null    object
 23  city-mpg           202 non-null    int64
 24  highway-mpg        202 non-null    int64
 25  price              202 non-null    int64
dtypes: float64(6), int64(6), object(14)
memory usage: 41.2+ KB
symboling             0
normalized-losses    37
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  0
stroke                0
compression-ratio     0
horsepower            0
peak-rpm              0
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
26,1,148.0,dodge,gas,turbo,NaN,sedan,fwd,front,93.7,...,98,mpfi,3.03,3.39,7.6,102,5500,24,30,8558
60,0,NaN,mazda,diesel,std,NaN,sedan,fwd,front,98.8,...,122,idi,3.39,3.39,22.7,64,4650,36,42,10795

body-style   num-of-doors
convertible  two              6
hardtop      two              8
hatchback    two             58
             four            10
sedan        four            79
             two             14
wagon        four            25
Name: count, dtype: int64

In [107]:
#Abbiamo il seguente DataFrame che raccoglie le misurazioni di un sensore che misura la temperatura atmosferica giornaliera: 
import numpy as np, pandas as pd 
temp = pd.DataFrame({"Giorno": [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], 
                     "Temperature": [18, 19, 18, np.nan, 21, 20, 20, np.nan, 21, 23, np.nan, 23, 24]}) 
#• Il sensore a volte non funziona, dunque alcuni dati sono mancanti: quale sarebbe la migliore strategia per gestirli? 
temp.interpolate()

    Giorno  Temperature
0        0         18.0
1        1         19.0
2        2         18.0
3        3         19.5
4        4         21.0
5        5         20.0
6        6         20.0
7        7         20.5
8        8         21.0
9        9         23.0
10      10         23.0
11      11         23.0
12      12         24.0

In [108]:
#Nel pacchetto os della standard library c'è la funzione os.listdir() che permette di avere la lista dei nomi di file all'interno 
#di una directory; senza input di default li cerca nella directory di lavoro corrente, altrimenti si può passare un path 
#per esaminare una directory specifica, ad esempio os.listdir("mio_progetto/beginner_datasets/") 
#• Nella directory dei beginner_datasets, quali sono i dataset che contengono dati nulli?
#1.Dovremo usare un ciclo for per esaminare tutti i nomi dei file 
#2.Dovremo selezionare solo i nomi di file con estensione .csv (quindi usare un costrutto if) 
#3.Nel corpo dovremo leggere di volta in volta il file in esame, e caricarlo in un DataFrame con la funzione .read_csv() 
#4.Sul DataFrame dovremo utilizzare il metodo .isna() per trovare la maschera booleana dei dati nulli 
#5.Dovremo contare i dati nulli, utilizzando .sum(); potremmo doverlo utilizzare più di una volta 
#6.Dovremo stampare, o memorizzare in una list, solo i nomi dei file che contengono dati nulli
import os 
os.listdir("datasets")

['amazon.csv',
 'anomaly.csv',
 'asia_gdp.csv',
 'automobile.csv',
 'bank.csv',
 'bike.csv',
 'blood.csv',
 'boston.csv',
 'cancer.csv',
 'concrete.csv',
 'credit.csv',
 'diabetes.csv',
 'diamond.csv',
 'elections.csv',
 'electrical_grid.csv',
 'employee.csv',
 'energy.csv',
 'facebook.csv',
 'forest.csv',
 'france.csv',
 'germany.csv',
 'glass.csv',
 'gold.csv',
 'heart.csv',
 'heart_disease.csv',
 'hepatitis.csv',
 'house.csv',
 'income.csv',
 'insurance.csv',
 'ipl.csv',
 'iris.csv',
 'jewellery.csv',
 'juice.csv',
 'kiva.csv',
 'mice.csv',
 'migration.csv',
 'nba.csv',
 'parkinsons.csv',
 'pokemon.csv',
 'poker.csv',
 'population.csv',
 'public_health.csv',
 'pycaret_datasets.xlsx',
 'questions.csv',
 'satellite.csv',
 'seeds.csv',
 'spx.csv',
 'traffic.csv',
 'tweets.csv',
 'wholesale.csv',
 'wikipedia.csv',
 'wine.csv']

In [116]:
lista_file = os.listdir("datasets")
for nome_file in lista_file:
    if ("._" not in nome_file) and (".csv" in nome_file):
        df = pd.read_csv ("datasets/" + nome_file)
        numero_valori_nulli = df.isna().sum().sum()
        if numero_valori_nulli > 0:
            print (nome_file, "\t", numero_valori_nulli)

automobile.csv 	 39
elections.csv 	 52
france.csv 	 66
hepatitis.csv 	 153
house.csv 	 7829
income.csv 	 4262
mice.csv 	 1396
nba.csv 	 11
pokemon.csv 	 386
population.csv 	 12
seeds.csv 	 4
traffic.csv 	 48143
wikipedia.csv 	 68