In [ ]:
#Estraiamo la tabella dimproduct dal database AdventureWorks, e valutiamo quanto segue: 
#• Quanti dati ci sono in totale? 
#• Quali sono i metadati? 
#• Stampiamo il primo elemento 
#• Stampiamo l'ultimo elemento 
#• Riusciamo a stampare cinque elementi a caso?
#• Quali sono i colori disponibili?

In [6]:
pip install pymysql

Requirement already satisfied: pymysql in c:\users\paola\anaconda3\lib\site-packages (1.1.2)
Note: you may need to restart the kernel to use updated packages.

In [11]:
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query = "SELECT * FROM dimproduct"
df = pd.read_sql(query, db_engine)
print (df)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW
     ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0             1             AR-5381                    NaN
1             2             BA-8327                    NaN
2             3             BE-2349                    NaN
3             4             BE-2908                    NaN
4             5             BL-2036                    NaN
..          ...                 ...                    ...
601         602             BB-8107                    5.0
602         603             BB-9108                    5.0
603         604          BK-R19B-44                    2.0
604         605          BK-R19B-48                    2.0
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode     EnglishProductName  \
0                    None                None        Adjustable Race
1                    None                None           Bearing Ball
2                    None                None        BB Ball Bearing
3                    None                None  Headset Ball Bearings
4                    None                None                  Blade
..                    ...                 ...                    ...
601                     G                None      ML Bottom Bracket
602                     G                None      HL Bottom Bracket
603                    LB                  CM     Road-750 Black, 44
604                    LB                  CM     Road-750 Black, 48
605                    LB                  CM     Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
0                                                                    NaN
1                                                                    NaN
2                                                                    NaN
3                                                                    NaN
4                                                                    NaN
..                         ...                         ...           ...
601         Eje de pedalier GM          Axe de pédalier ML         44.95
602         Eje de pedalier GA          Axe de pédalier HL         53.94
603  Carretera: 750, negra, 44  Vélo de route 750 noir, 44        343.65
604  Carretera: 750, negra, 48  Vélo de route 750 noir, 48        343.65
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
0                    0  ...                               None
1                    0  ...                               None
2                    0  ...                               None
3                    0  ...                               None
4                    0  ...                               None
..                 ...  ...                                ...
601                  1  ...                      铝合金车圈；大直径脚蹬轴。
602                  1  ...                         铝合金车圈和空心轴。
603                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
604                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  فناجين من سبيكة الألومنيوم؛ ذات محور دوران كبي...
602             فناجين من سبيكة الألومنيوم ومحور أجوف.
603  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
604  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601           כיסויים מסגסוגת אלומיניום; ציר רחב-קוטר.
602               כיסויים מסגסוגת אלומיניום וציר חלול.
603  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
604  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601              ดุมอลูมิเนียมอัลลอยด์ แกนเพลาขนาดใหญ่
602                   ดุมอลูมิเนียมอัลลอยด์และเพลากลวง
603  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
604  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601  Außenringe aus Aluminiumlegierung; Radachse mi...
602  Außenringe aus Aluminiumlegierung und hohle Ac...
603  Ein Erwachsenenrad für Einsteiger; bietet Komf...
604  Ein Erwachsenenrad für Einsteiger; bietet Komf...
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
0                                                 None
1                                                 None
2                                                 None
3                                                 None
4                                                 None
..                                                 ...
601                               アルミニウム合金カップ、大径スピンドル。
602                              アルミニウム合金カップとホロー アクスル。
603  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
604  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
0                                                 None 2003-07-01     NaT
1                                                 None 2003-07-01     NaT
2                                                 None 2003-07-01     NaT
3                                                 None 2003-07-01     NaT
4                                                 None 2003-07-01     NaT
..                                                 ...        ...     ...
601  Alüminyum alaşımı orta göbekler; geniş çaplı mil. 2013-07-01     NaT
602    Alüminyum alaşımı orta göbekler ve içi boş aks. 2013-07-01     NaT
603  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
604  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
0    Current
1    Current
2    Current
3    Current
4    Current
..       ...
601  Current
602  Current
603  Current
604  Current
605  Current

[606 rows x 36 columns]

In [16]:
#Quanti dati ci sono in totale?
print("Numero di righe:", len(df))
print("Numero di colonne:", len(df.columns))
print("Shape:", df.shape)   # (righe, colonne)

Numero di righe: 606
Numero di colonne: 36
Shape: (606, 36)

In [17]:
#quali sono i metadati (nomi colonne)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 36 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             606 non-null    int64
 1   ProductAlternateKey    606 non-null    object
 2   ProductSubcategoryKey  397 non-null    float64
 3   WeightUnitMeasureCode  282 non-null    object
 4   SizeUnitMeasureCode    253 non-null    object
 5   EnglishProductName     606 non-null    object
 6   SpanishProductName     606 non-null    object
 7   FrenchProductName      606 non-null    object
 8   StandardCost           397 non-null    float64
 9   FinishedGoodsFlag      606 non-null    int64
 10  Color                  606 non-null    object
 11  SafetyStockLevel       606 non-null    int64
 12  ReorderPoint           606 non-null    int64
 13  ListPrice              395 non-null    float64
 14  Size                   299 non-null    object
 15  SizeRange              606 non-null    object
 16  Weight                 282 non-null    float64
 17  DaysToManufacture      606 non-null    int64
 18  ProductLine            380 non-null    object
 19  DealerPrice            395 non-null    float64
 20  Class                  330 non-null    object
 21  Style                  301 non-null    object
 22  ModelName              397 non-null    object
 23  LargePhoto             606 non-null    object
 24  EnglishDescription     396 non-null    object
 25  FrenchDescription      396 non-null    object
 26  ChineseDescription     396 non-null    object
 27  ArabicDescription      396 non-null    object
 28  HebrewDescription      396 non-null    object
 29  ThaiDescription        396 non-null    object
 30  GermanDescription      396 non-null    object
 31  JapaneseDescription    396 non-null    object
 32  TurkishDescription     396 non-null    object
 33  StartDate              606 non-null    datetime64[ns]
 34  EndDate                200 non-null    datetime64[ns]
 35  Status                 406 non-null    object
dtypes: datetime64[ns](2), float64(5), int64(5), object(24)
memory usage: 170.6+ KB

In [49]:
print("statmpa del primo elemento" , df.head(1)) #non si usa lo 0 perchè escono le intestazioni 
print("stampa dell'ultimo elemento" , df.tail(1))
print("stampa di 5 elementi a caso" , df.sample(5))
display(df.sample(5)) #con la funzione display si vede meglio l'output

statmpa del primo elemento    ProductKey ProductAlternateKey  ProductSubcategoryKey  \
0           1             AR-5381                    NaN

  WeightUnitMeasureCode SizeUnitMeasureCode EnglishProductName  \
0                  None                None    Adjustable Race

  SpanishProductName FrenchProductName  StandardCost  FinishedGoodsFlag  ...  \
0                                                NaN                  0  ...

  ChineseDescription  ArabicDescription  HebrewDescription  ThaiDescription  \
0               None               None               None             None

  GermanDescription JapaneseDescription  TurkishDescription  StartDate  \
0              None                None                None 2003-07-01

  EndDate   Status
0     NaT  Current

[1 rows x 36 columns]
stampa dell'ultimo elemento      ProductKey ProductAlternateKey  ProductSubcategoryKey  \
605         606          BK-R19B-52                    2.0

    WeightUnitMeasureCode SizeUnitMeasureCode  EnglishProductName  \
605                    LB                  CM  Road-750 Black, 52

            SpanishProductName           FrenchProductName  StandardCost  \
605  Carretera: 750, negra, 52  Vélo de route 750 noir, 52        343.65

     FinishedGoodsFlag  ...                 ChineseDescription  \
605                  1  ...  入门级成人自行车；确保越野旅行或公路骑乘的舒适。快拆式车毂和轮缘。

                                     ArabicDescription  \
605  إنها دراجة مناسبة للمبتدئين من البالغين؛ فهي ت...

                                     HebrewDescription  \
605  אופני מבוגרים למתחילים; מציעים רכיבה נוחה "מחו...

                                       ThaiDescription  \
605  จักรยานระดับเริ่มต้นสำหรับผู้ใหญ่ ให้ความสบายใ...

                                     GermanDescription  \
605  Ein Erwachsenenrad für Einsteiger; bietet Komf...

                                   JapaneseDescription  \
605  エントリー レベルに対応する、クロスカントリーにも街への買い物にも快適な、大人の自転車。ハブ...

                                    TurkishDescription  StartDate EndDate  \
605  "Başlangıç seviyesinde yetişkin bisikleti, kır... 2013-07-01     NaT

      Status
605  Current

[1 rows x 36 columns]
stampa di 5 elementi a caso      ProductKey ProductAlternateKey  ProductSubcategoryKey  \
434         435          FR-R72Y-48                   14.0
347         348          BK-M82B-38                    1.0
266         267          FR-R38R-52                   14.0
222         223             CA-1098                   19.0
358         359          BK-M68B-38                    1.0

    WeightUnitMeasureCode SizeUnitMeasureCode            EnglishProductName  \
434                    LB                  CM  ML Road Frame-W - Yellow, 48
347                    LB                  CM        Mountain-100 Black, 38
266                    LB                  CM       LL Road Frame - Red, 52
222                  None                None                  AWC Logo Cap
358                    LB                  CM        Mountain-200 Black, 38

                                  SpanishProductName  \
434  Cuadro de carretera para mujer GM: amarillo, 48
347                          Montaña: 100, negra, 38
266                 Cuadro de carretera GB: rojo, 52
222
358                          Montaña: 200, negra, 38

                         FrenchProductName  StandardCost  FinishedGoodsFlag  \
434       Cadre de route ML -W - jaune, 48        300.12                  1
347                       VTT 100 noir, 38       1898.09                  1
266  Cadre de vélo de route LL - rouge, 52        187.16                  1
222                                                 5.71                  1
358                       VTT 200 noir, 38       1251.98                  1

     ...                                 ChineseDescription  \
434  ...  ML 车架使用与我们的高档 HL 车架完全相同的铝合金，它的特征是轻型下管经过磨制达到最佳口...
347  ...  高档竞赛山地车。性能得到进一步增强，包括创新的 HL 车架、极其平稳的前悬架以及适用于所有地...
266  ...               LL 车架提供了安全舒适的骑乘，经济实惠的铝制车架提供了卓越的避震功能。
222  ...                                      经典式样，带有翻边；均码。
358  ...  适用于环境恶劣的野外骑乘。可应对各种比赛的完美赛车。使用与 Mountain-100 相同的...

                                     ArabicDescription  \
434  يحتوي هيكل ML على أنبوبة سفلية خفيف الوزن تم ت...
347  دراجة سباقات مخصصة للقيادة في الجبال من أعلى ط...
266  يوفر الهيكل LL Frame قيادة آمنة ومريحة، مع توف...
222  نمط تقليدي ذو حافة قابلة للانقلاب لأعلى، بحجم ...
358  لقيادة المحترفين في المناطق الريفية. دراجة مُث...

                                     HebrewDescription  \
434  מסגרת ה- ML, העשויה סגסוגת אלומיניום זהה לזו ה...
347  אופני הרים תחרותיים מהשורה הראשונה. אפשרויות ל...
266  מסגרת ה- LL מספקת רכיבה בטוחה ונוחה ועם זאת, מ...
222  סגנון מסורתי עם מצחייה מתרוממת; גודל אחד מתאים...
358  לרכיבה רצינית בשטחים נידחים. מתאימים לכל רמה ש...

                                       ThaiDescription  \
434  สร้างจากอลูมิเนียมอัลลอยชนิดเดียวกับสุดยอดเฟรม...
347  สุดยอดจักรยานภูเขาสำหรับการแข่งขัน สมบูรณ์แบบด...
266  เฟรม LL ให้ความปลอดภัยและสบายขณะขับขี่ พร้อมทั...
222             แบบดั้งเดิม พร้อมขอบพับ ใช้ได้กับทุกคน
358  สำหรับการขี่ในเส้นทางผจญภัย  เหมาะที่สุดสำหรับ...

                                     GermanDescription  \
434  Der ML-Rahmen ist aus der gleichen Aluminiumle...
347  "Top-Mountainbike für Profis. Mit innovativem ...
266  Mit dem LL-Rahmen fahren Sie sicher und komfor...
222  "Traditionelles Design mit Klapprand, Einheits...
358  Mountainbike für Profis. Perfekt für alle Schw...

                                   JapaneseDescription  \
434  当社の最高級 HL フレームと同じアルミニウム合金で作られた ML は、完璧なダウンチューブ...
347  最高級の競技用マウンテン バイクです。性能強化オプションとしては、革新的な HL フレーム、...
266  LL フレームは、安全で快適に乗ることができ、値打ち価格のアルミニウム フレームで優れた衝撃...
222                跳ね上げ式のつばを持つトラディショナルなスタイルで、フリーサイズです。
358  バック カントリーまたは全レベルの競技用で、Mountain-100 と同じ HL フレーム...

                                    TurkishDescription  StartDate    EndDate  \
434  "HL kadroyla aynı alüminyum alaşımından imal e... 2012-07-01 2008-12-27
347  "En üst model rekabetçi dağ bisikleti. Perform... 2011-07-01 2007-12-28
266  "LL Kadro güvenli ve konforlu sürüş sunar, değ... 2012-07-01 2008-12-27
222        "Klasik stil, herkese uygun tek bir boyda." 2011-07-01 2007-12-28
358  Gerçek arazi sürüşü. Tüm yarışma seviyeleri iç... 2013-07-01        NaT

      Status
434     None
347     None
266     None
222     None
358  Current

[5 rows x 36 columns]

,ProductKey,ProductAlternateKey,ProductSubcategoryKey,WeightUnitMeasureCode,SizeUnitMeasureCode,EnglishProductName,SpanishProductName,FrenchProductName,StandardCost,FinishedGoodsFlag,...,ChineseDescription,ArabicDescription,HebrewDescription,ThaiDescription,GermanDescription,JapaneseDescription,TurkishDescription,StartDate,EndDate,Status
538,539,TI-R628,37.0,None,None,ML Road Tire,Cubierta de carretera GM,Pneu de vélo de route ML,9.35,1,...,橡皮的密度较其他车型更高。,مطاط أعلى كثافة من الطرازات الأخرى.,גומי בצפיפות גבוהה יותר מאשר דגמים אחרים.,ใช้ยางความหนาแน่นสูงกว่ารุ่นอื่นๆ,Gummi mit hoher Dichte.,超高密度ラバー。,Daha yüksek yoğunluklu lastik.,2013-07-01,NaT,Current
421,422,RW-R623,17.0,G,None,LL Road Rear Wheel,Rueda de carretera trasera GB,Roue arrière de vélo de route LL,49.98,1,...,适用于入门级骑乘者的公路型备用前轮。,عجلة طريق أمامية بديلة لقائدي الدراجات المبتدئين.,גלגל חלופי קדמי לרכיבת כביש לרוכב המתחיל.,ล้อหน้าจักรยานภูเขาอะไหล่สำหรับนักปั่นระดับเริ...,Ersatzhinterrad für Einsteiger.,初心者向けの交換用リア ロード ホイール。,Başlangıç seviyesinde sürücüler için yedek ark...,2012-07-01,2008-12-27,None
154,155,MA-7075,NaN,None,None,Metal Angle,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current
351,352,BK-M68S-38,1.0,LB,CM,"Mountain-200 Silver, 38","Montaña: 200, plateada, 38","VTT 200 argent, 38",1117.86,1,...,适用于环境恶劣的野外骑乘。可应对各种比赛的完美赛车。使用与 Mountain-100 相同的...,لقيادة المحترفين في المناطق الريفية. دراجة مُث...,לרכיבה רצינית בשטחים נידחים. מתאימים לכל רמה ש...,สำหรับการขี่ในเส้นทางผจญภัย เหมาะที่สุดสำหรับ...,Mountainbike für Profis. Perfekt für alle Schw...,バック カントリーまたは全レベルの競技用で、Mountain-100 と同じ HL フレーム...,Gerçek arazi sürüşü. Tüm yarışma seviyeleri iç...,2012-07-01,2008-12-27,None
77,78,HT-8019,NaN,None,None,Head Tube,,,NaN,0,...,None,None,None,None,None,None,None,2003-07-01,NaT,Current

In [50]:
df["Color"].unique() #stampa i colori disponibili

array(['NA', 'Black', 'Silver', 'Red', 'White', 'Blue', 'Multi', 'Yellow',
       'Grey', 'Silver/Black'], dtype=object)

In [61]:
# 1 In media quanto pesano i prodotti 
#(per questo esercizio, ignoriamo l'unità di misura, ma usiamo solo i valori della colonna relativa)? 
#• Quanto pesa il più leggero? • Quanto pesa il più pesante? 
#• Quanti prodotti pesano più di 100? 
#• Quanto costano in media i prodotti (colonna DealerPrice)? • Quali sono i quartili dei prezzi?
# 1 In media quanto pesano i prodotti 
print ("- media dei pesi" , df["Weight"].mean().round(2)) #round per arrotindare il numero tra parentesi metto quante cifre decimali voglio
# 2 quanto pesa il più leggero?
print("- il prodotto più leggero pesa" , df["Weight"].min())
# 3 quanto pesa il più pesante?
print("- il prodotto più pesante pesa" , df["Weight"].max())
# 4 quanti prodotti pesano più di 100?
filtro = df["Weight"]>100
print("- i prodotti che pesano più di 100 sono" , df.loc[filtro].shape[0]) #sono 28 righe, quindi 28 oggetti
# 5 quanto costano in media i prodotti?
print ("- il costo medio dei prodotti è" , df["DealerPrice"].mean().round(2))
# 6 quali sono i quartili dei prezzi?
q1 = df["ListPrice"].quantile(0.25)
q2 = df["ListPrice"].quantile(0.50)   # mediana
q3 = df["ListPrice"].quantile(0.75)
print("- Primo quartile (Q1):", q1)
print("- Secondo quartile (Q2):", q2)
print("- Terzo quartile (Q3):", q3)
#oppure si può fare con describe che descrive la colonna statisticamente
df["ListPrice"].describe()

- media dei pesi 56.19
- il prodotto più leggero pesa 2.12
- il prodotto più pesante pesa 1050.0
- i prodotti che pesano più di 100 sono 28
- il costo medio dei prodotti è 448.6
- Primo quartile (Q1): 69.99
- Secondo quartile (Q2): 364.09
- Terzo quartile (Q3): 1204.32

count     395.000000
mean      747.661544
std       838.708359
min         2.290000
25%        69.990000
50%       364.090000
75%      1204.320000
max      3578.270000
Name: ListPrice, dtype: float64

In [76]:
#Qual è il prezzo medio per i prodotti di colore blu?
filtro = df["Color"] == "Blue"
prezzo_medio_prod_blu = df[filtro]["ListPrice"].mean()
print("- il prezzo medio dei prodotti di colore Blu è" , prezzo_medio_prod_blu)
#oppure posso farlo con loc:
prezzo_medio_prod_blu = df.loc[df["Color"] == "Blue", "ListPrice"].mean()
print("- il prezzo medio dei prodotti di colore Blu è" , prezzo_medio_prod_blu)
#• Qual è il prezzo medio per i prodotti di colore rosso o nero?
filtro = (df["Color"] == "Red") | (df["Color"] == "Black")
prezzo_medio_rosso_o_nero = df[filtro]["ListPrice"].mean()
print("- il prezzo medio dei prodotti di colore Rosso o Nero è" , prezzo_medio_rosso_o_nero)
#oppure posso farlo con loc
rosso = (df["Color"] == "Red")
nero = (df["Color"] == "Black")
prezzo_medio_rosso_o_nero = df.loc[(rosso | nero) , "ListPrice"].mean()
print("- il prezzo medio dei prodotti di colore Rosso o Nero è" , prezzo_medio_rosso_o_nero)
#• Qual è il prezzo massimo per i prodotti di taglia 42 e peso oltre i 10 Kg?
filtro = (df["Weight"] > 10) & (df["Size"] == "42")
prezzo_max_tg_42_peso_maggiore_10 = df[filtro]["ListPrice"].max()
print("- il prezzo massimo di prodotti di tg 42 e peso > di 10 Kg è", prezzo_max_tg_42_peso_maggiore_10)
#oppure posso farlo con loc:
peso = (df["Weight"] > 10)
taglia = (df["Size"] == "42")
prezzo_max_tg_42_peso_maggiore_10 = df.loc [(peso & taglia) , "ListPrice"].max()
print("- il prezzo massimo di prodotti di tg 42 e peso > di 10 Kg è", prezzo_max_tg_42_peso_maggiore_10)
#• Qual è il nome inglese e il costo di produzione (StandardCost) di tutti i prodotti di taglia 42, peso oltre i 10 Kg 
#e colore argento? 
filtro = (df["Weight"] > 10) & (df["Size"] == "42") & (df["Color"] == "Silver")
risultato = df.loc[filtro, ["EnglishProductName", "StandardCost"]]
print(risultato)
#• Visualizziamo lo StandardCost e il DealerPrice degli ultimi 20 elementi del dataset: quali sono le differenze? 
#C'è un pattern? C'è qualche elemento che non lo segue?
ultimi_20 = df.tail(20)
print(ultimi_20[["EnglishProductName", "StandardCost","DealerPrice"]])

- il prezzo medio dei prodotti di colore Blu è 860.1049999999998
- il prezzo medio dei prodotti di colore Blu è 860.1049999999998
- il prezzo medio dei prodotti di colore Rosso o Nero è 917.08
- il prezzo medio dei prodotti di colore Rosso o Nero è 917.08
- il prezzo massimo di prodotti di tg 42 e peso > di 10 Kg è 3399.99
- il prezzo massimo di prodotti di tg 42 e peso > di 10 Kg è 3399.99
            EnglishProductName  StandardCost
344    Mountain-100 Silver, 42       1912.15
353    Mountain-200 Silver, 42       1117.86
354    Mountain-200 Silver, 42       1265.62
588  Mountain-400-W Silver, 42        419.78
591    Mountain-500 Silver, 42        308.22
            EnglishProductName  StandardCost  DealerPrice
586  Mountain-400-W Silver, 38        419.78      461.694
587  Mountain-400-W Silver, 40        419.78      461.694
588  Mountain-400-W Silver, 42        419.78      461.694
589  Mountain-400-W Silver, 46        419.78      461.694
590    Mountain-500 Silver, 40        308.22      338.994
591    Mountain-500 Silver, 42        308.22      338.994
592    Mountain-500 Silver, 44        308.22      338.994
593    Mountain-500 Silver, 48        308.22      338.994
594    Mountain-500 Silver, 52        308.22      338.994
595     Mountain-500 Black, 40        294.58      323.994
596     Mountain-500 Black, 42        294.58      323.994
597     Mountain-500 Black, 44        294.58      323.994
598     Mountain-500 Black, 48        294.58      323.994
599     Mountain-500 Black, 52        294.58      323.994
600          LL Bottom Bracket         23.97       32.394
601          ML Bottom Bracket         44.95       60.744
602          HL Bottom Bracket         53.94       72.894
603         Road-750 Black, 44        343.65      323.994
604         Road-750 Black, 48        343.65      323.994
605         Road-750 Black, 52        343.65      323.994

In [81]:
# Tra i beginner datasets scaricabili all'indirizzo 
#https://www.kaggle.com/datasets/ahmettezcantekin/beginner-datasets 
#selezioniamo amazon.csv, un dataset contenente una serie di recensioni su 
#Amazon.
# • Valutiamo la dimensione del dataset
# • Visualizziamo dieci righe a caso;
# • Osserviamo i nomi di colonna;
# • Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no

In [88]:
df = pd.read_csv("amazon.csv")
df
# • Valutiamo la dimensione del dataset
print ("dimensioni del dataset" , df.shape)
# • Visualizziamo dieci righe a caso
print (df.sample(10))
# • Osserviamo i nomi di colonna
print ("nomi righe", df.columns)
# • Il dataset è bilanciato, ovvero, il numero di recensioni positive è uguale a quello delle negative, oppure no?
df["Positive"].value_counts()
#il dataframe non è bilanciato, ci sono più recensioni positive che negative

dimensioni del dataset (20000, 2)
                                              reviewText  Positive
9573   Great way to keep my recipes handy and I have ...         1
10856  I am a shopaholic and I love Zappos. They have...         1
8815   This is such a gift to be able to sync my cale...         1
3305   Made it to 32 before it force closes every tim...         0
11349  By far the best gin rummy game I have ever pla...         1
18391  this app was so funny and entertaining that I ...         1
10195  It was OK but I was expecting more...  Its har...         0
9216   This App is my favorite.  Whether I want to li...         1
17109  If you do its your own fault for being stupid....         1
1695   Love this app w what ever song you have on you...         1
nomi righe Index(['reviewText', 'Positive'], dtype='object')

Positive
1    15233
0     4767
Name: count, dtype: int64

In [108]:
#Il dataset diabetes.csv raccoglie persone con diabete o meno, e il valore di diverse variabili fisiologiche dei pazienti. 
#• Osserviamone le dimensioni e un'anteprima di cinque righe; 
#• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
#• Stampiamo dei descrittori statistici del dataset; 
#• Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50; 
#• Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
df = pd.read_csv("diabetes.csv")
df
#• Osserviamone le dimensioni e un'anteprima di cinque righe; 
print(df.shape)
display(df.sample(5))
#• Prendiamoci un po' di tempo per dare un'occhiata ai metadati delle colonne; 
print(df.info())
print (df.columns)
#• Stampiamo dei descrittori statistici del dataset;
df.describe()

(768, 9)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
79,2,112,66,22,0,25.0,0.307,24,0
535,4,132,0,0,0,32.9,0.302,23,1
434,1,90,68,8,0,24.5,1.138,36,0
387,8,105,100,36,0,43.3,0.239,45,1
446,1,100,72,12,70,25.3,0.658,28,0

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                                                                    Non-Null Count  Dtype
---  ------                                                                    --------------  -----
 0   Number of times pregnant                                                  768 non-null    int64
 1   Plasma glucose concentration a 2 hours in an oral glucose tolerance test  768 non-null    int64
 2   Diastolic blood pressure (mm Hg)                                          768 non-null    int64
 3   Triceps skin fold thickness (mm)                                          768 non-null    int64
 4   2-Hour serum insulin (mu U/ml)                                            768 non-null    int64
 5   Body mass index (weight in kg/(height in m)^2)                            768 non-null    float64
 6   Diabetes pedigree function                                                768 non-null    float64
 7   Age (years)                                                               768 non-null    int64
 8   Class variable                                                            768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None
Index(['Number of times pregnant',
       'Plasma glucose concentration a 2 hours in an oral glucose tolerance test',
       'Diastolic blood pressure (mm Hg)', 'Triceps skin fold thickness (mm)',
       '2-Hour serum insulin (mu U/ml)',
       'Body mass index (weight in kg/(height in m)^2)',
       'Diabetes pedigree function', 'Age (years)', 'Class variable'],
      dtype='object')

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [111]:
#• Selezioniamo i dati relativi a diverse fasce di età: 20-29, 30-39, 40-50;
eta_20_29 = df[(df["Age (years)"] >=20) & (df["Age (years)"] <=29)]
eta_30_39 = df[(df["Age (years)"] >=30) & (df["Age (years)"] <=39)]
eta_40_50 = df[(df["Age (years)"] >=40) & (df["Age (years)"] <=50)]
display (eta_20_29)
display (eta_30_39)
display (eta_40_50)

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
3,1,89,66,23,94,28.1,0.167,21,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
20,3,126,88,41,235,39.3,0.704,27,0
23,9,119,80,35,0,29.0,0.263,29,1
...,...,...,...,...,...,...,...,...,...
753,0,181,88,44,510,43.3,0.222,26,1
758,1,106,76,0,0,37.5,0.197,26,0
760,2,88,58,26,16,28.4,0.766,22,0
764,2,122,70,27,0,36.8,0.340,27,0
767,1,93,70,31,0,30.4,0.315,23,0

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
10,4,110,92,0,0,37.6,0.191,30,0
...,...,...,...,...,...,...,...,...,...
748,3,187,70,22,200,36.4,0.408,36,1
755,1,128,88,39,110,36.5,1.057,37,1
756,7,137,90,41,0,32.0,0.391,39,0
762,9,89,62,0,0,22.5,0.142,33,0
765,5,121,72,23,112,26.2,0.245,30,0

,Number of times pregnant,Plasma glucose concentration a 2 hours in an oral glucose tolerance test,Diastolic blood pressure (mm Hg),Triceps skin fold thickness (mm),2-Hour serum insulin (mu U/ml),Body mass index (weight in kg/(height in m)^2),Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,1
21,8,99,84,0,0,35.4,0.388,50,0
22,7,196,90,0,0,39.8,0.451,41,1
25,10,125,70,26,115,31.1,0.205,41,1
26,7,147,76,0,0,39.4,0.257,43,1
...,...,...,...,...,...,...,...,...,...
745,12,100,84,33,105,30.0,0.488,46,0
749,6,162,62,0,0,24.3,0.178,50,1
754,8,154,78,32,0,32.4,0.443,45,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

In [115]:
#• Qual è la media della pressione sanguigna diastolica per le diverse fasce di età?
filtro1 = (df["Age (years)"] >=20) & (df["Age (years)"] <=29)
filtro2 = (df["Age (years)"] >=30) & (df["Age (years)"] <=39)
filtro3 = (df["Age (years)"] >=40) & (df["Age (years)"] <=50)

press_diast_20_29 = df[filtro1]["Diastolic blood pressure (mm Hg)"].mean().round(2)
press_diast_30_39 = df[filtro2]["Diastolic blood pressure (mm Hg)"].mean().round(2)
press_diast_40_50 = df[filtro3]["Diastolic blood pressure (mm Hg)"].mean().round(2)
print ("media_press_diast_20_29 = ", press_diast_20_29)
print ("media_press_diast_30_39 = ", press_diast_30_39)
print ("media_press_diast_40_50 = ", press_diast_40_50)

media_press_diast_20_29 =  65.35
media_press_diast_30_39 =  69.67
media_press_diast_40_50 =  74.21

In [135]:
#Il dataset insurance.csv contiene dati rispetto a caratteristiche e abitudini delle persone, 
#e della zona in cui vivono, rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
# Quali sono le medie di charges rispetto a region? 
# Ci sono differenze significative? 
# E rispetto a smoker? e a sex?
# Quali sono i descrittori statistici di bmi? 
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi?
# Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna;
df = pd.read_csv("insurance.csv")
print(df.shape)
display(df.sample(10))
print(df.columns)
# Quali sono le medie di charges rispetto a region? 
filtro1 = (df["region"] == "northwest") & (df["smoker"] == "yes")
filtro2 = df["region"] == "southwest"
filtro3 = df["region"] == "northeast"
filtro4 = df["region"] == "southeast"
media_charges_northwest = df.loc[filtro1, "charges"].mean().round()
media_charges_southwest = df.loc[filtro2, "charges"].mean().round()
media_charges_northeast = df.loc[filtro3, "charges"].mean().round()
media_charges_southeast = df.loc[filtro4, "charges"].mean().round()
print("Media charges Northwest:", media_charges_northwest)
print("Media charges Southwest:", media_charges_southwest)
print("Media charges Northeast:", media_charges_northeast)
print("Media charges Southeast:", media_charges_southeast)
# Ci sono differenze significative?
#In realtà non ci sono differenze così significative, le medie per le regioni a east sono un po' più alte ma non di troppo.
# E rispetto a smoker? e a sex?
filtro1 = df["region"] == "northwest"
filtro2 = df["region"] == "southwest"
filtro3 = df["region"] == "northeast"
filtro4 = df["region"] == "southeast"
media_smoker_northwest = (df.loc[filtro1, "smoker"] == "yes").mean().round(2)
media_smoker_southwest = (df.loc[filtro2, "smoker"] == "yes").mean().round(2)
media_smoker_northeast = (df.loc[filtro3, "smoker"] == "yes").mean().round(2)
media_smoker_southeast = (df.loc[filtro4, "smoker"] == "yes").mean().round(2)

print("Percentuale smoker Northwest:", media_smoker_northwest)
print("Percentuale smoker Southwest:", media_smoker_southwest)
print("Percentuale smoker Northeast:", media_smoker_northeast)
print("Percentuale smoker Southeast:", media_smoker_southeast)

(1338, 7)

      age     sex     bmi  children smoker     region      charges
737    26    male  23.700         2     no  southwest   3484.33100
494    21    male  25.700         4    yes  southwest  17942.10600
1153   35  female  35.815         1     no  northwest   5630.45785
884    25    male  26.695         4     no  northwest   4877.98105
1255   42  female  37.900         0     no  southwest   6474.01300
70     27  female  24.750         0    yes  southeast  16577.77950
117    29  female  27.940         1    yes  southeast  19107.77960
1009   51    male  27.740         1     no  northeast   9957.72160
563    50    male  44.770         1     no  southeast   9058.73030
534    64    male  40.480         0     no  southeast  13831.11520

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')
Media charges Northwest: 30192.0
Media charges Southwest: 12347.0
Media charges Northeast: 13406.0
Media charges Southeast: 14735.0
Percentuale smoker Northwest: 0.18
Percentuale smoker Southwest: 0.18
Percentuale smoker Northeast: 0.21
Percentuale smoker Southeast: 0.25

In [23]:
#Il dataset pokemon.csv contiene un database di Pokémon, con dati quali nome, tipi di attacco, valori di attacco/difesa/eccetera, 
#e se sono o meno leggendari. 
#• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna; 
#• È verosimile che la prima colonna dovrebbe essere un indice? #SI E' UN INDICE
#• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? #NO, NON COMBACIANO
#• Se no, settare la prima colonna come indice.
#• Quali sono i Pokémon leggendari?
#• E quali sono i leggendari di tipo 1 Grass? 
#• E leggendari di tipo 1 Ice o Fire?
#• Trasformiamo la colonna Name nell'indice; 
#• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
import pandas as pd
df = pd.read_csv("pokemon.csv")

In [24]:
#• Verifichiamo la dimensione, un'anteprima e osserviamo i nomi di colonna;
print(df.shape)
display(df.sample(10))
display(df.head(15))
print(df.columns)

(800, 13)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
68,63,Abra,Psychic,NaN,310,25,20,15,105,55,90,1,False
653,592,Frillish,Water,Ghost,335,55,40,50,65,85,40,5,False
122,114,Tangela,Grass,NaN,435,65,55,115,100,40,60,1,False
677,616,Shelmet,Bug,NaN,305,50,40,85,40,65,25,5,False
405,370,Luvdisc,Water,NaN,330,43,30,55,40,65,97,3,False
214,199,Slowking,Water,Psychic,490,95,75,80,100,110,30,2,False
434,389,Torterra,Grass,Ground,525,95,109,105,75,85,56,4,False
694,633,Deino,Dark,Dragon,300,52,65,50,45,50,38,5,False
266,247,Pupitar,Rock,Ground,410,70,84,70,65,70,51,2,False
674,613,Cubchoo,Ice,NaN,305,55,70,40,60,40,40,5,False

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,7,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False
10,8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
11,9,Blastoise,Water,NaN,530,79,83,100,85,105,78,1,False
12,9,BlastoiseMega Blastoise,Water,NaN,630,79,103,120,135,115,78,1,False
13,10,Caterpie,Bug,NaN,195,45,30,35,20,20,45,1,False
14,11,Metapod,Bug,NaN,205,50,20,55,25,25,30,1,False

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [25]:
#• È verosimile che la prima colonna dovrebbe essere un indice? #SI E' UN INDICE
#• Confrontiamolo con l'indice messo automaticamente da Pandas: combaciano? #NO, NON COMBACIANO
#• Se no, settare la prima colonna come indice.
df = df.set_index("#")
display (df)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [26]:
#• Quali sono i Pokémon leggendari?
filtro = df["Legendary"] == True
display(df.loc[filtro])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
145,Zapdos,Electric,Flying,580,90,90,85,125,90,100,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
150,Mewtwo,Psychic,NaN,680,106,110,90,154,90,130,1,True
150,MewtwoMega Mewtwo X,Psychic,Fighting,780,106,190,100,154,100,130,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...
719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [27]:
#• E quali sono i leggendari di tipo 1 Grass? 
filtro1 = df["Legendary"] == True
filtro2 = df["Type 1"] == "Grass"
display(df.loc[filtro1 & filtro2])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
492,ShayminLand Forme,Grass,NaN,600,100,100,100,100,100,100,4,True
492,ShayminSky Forme,Grass,Flying,600,100,103,75,120,75,127,4,True
640,Virizion,Grass,Fighting,580,91,90,72,90,129,108,5,True

In [28]:
#• E leggendari di tipo 1 Ice o Fire?
filtro1 = df["Legendary"] == True
filtro3 = df["Type 1"] == "Ice"
filtro4 = df["Type 1"] == "Fire"
display(df.loc[filtro1 & filtro3 | filtro4])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
6,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
6,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
37,Vulpix,Fire,NaN,299,38,41,40,50,65,65,1,False
38,Ninetales,Fire,NaN,505,73,76,75,81,100,100,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
59,Arcanine,Fire,NaN,555,90,110,80,100,80,95,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
78,Rapidash,Fire,NaN,500,65,100,70,80,80,105,1,False
126,Magmar,Fire,NaN,495,65,95,57,100,85,93,1,False
136,Flareon,Fire,NaN,525,65,130,60,95,110,65,1,False
144,Articuno,Ice,Flying,580,90,85,100,95,125,85,1,True
146,Moltres,Fire,Flying,580,90,100,90,125,85,90,1,True
155,Cyndaquil,Fire,NaN,309,39,52,43,60,50,65,2,False
156,Quilava,Fire,NaN,405,58,64,58,80,65,80,2,False
157,Typhlosion,Fire,NaN,534,78,84,78,109,85,100,2,False
218,Slugma,Fire,NaN,250,40,40,40,70,40,20,2,False
219,Magcargo,Fire,Rock,410,50,50,120,80,80,30,2,False
240,Magby,Fire,NaN,365,45,75,37,70,55,83,2,False
244,Entei,Fire,NaN,580,115,115,85,90,75,100,2,True
250,Ho-oh,Fire,Flying,680,106,130,90,110,154,90,2,True
255,Torchic,Fire,NaN,310,45,60,40,70,50,45,3,False
256,Combusken,Fire,Fighting,405,60,85,60,85,60,55,3,False
257,Blaziken,Fire,Fighting,530,80,120,70,110,70,80,3,False
257,BlazikenMega Blaziken,Fire,Fighting,630,80,160,80,130,80,100,3,False
322,Numel,Fire,Ground,305,60,60,40,65,45,35,3,False
323,Camerupt,Fire,Ground,460,70,100,70,105,75,40,3,False
323,CameruptMega Camerupt,Fire,Ground,560,70,120,100,145,105,20,3,False
324,Torkoal,Fire,NaN,470,70,85,140,85,70,20,3,False
378,Regice,Ice,NaN,580,80,50,100,100,200,50,3,True
390,Chimchar,Fire,NaN,309,44,58,44,58,44,61,4,False
391,Monferno,Fire,Fighting,405,64,78,52,78,52,81,4,False
392,Infernape,Fire,Fighting,534,76,104,71,104,71,108,4,False
467,Magmortar,Fire,NaN,540,75,95,67,125,95,83,4,False
485,Heatran,Fire,Steel,600,91,90,106,130,106,77,4,True
498,Tepig,Fire,NaN,308,65,63,45,45,45,45,5,False
499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
500,Emboar,Fire,Fighting,528,110,123,65,100,65,65,5,False
513,Pansear,Fire,NaN,316,50,53,48,53,48,64,5,False
514,Simisear,Fire,NaN,498,75,98,63,98,63,101,5,False
554,Darumaka,Fire,NaN,315,70,90,45,15,45,50,5,False
555,DarmanitanStandard Mode,Fire,NaN,480,105,140,55,30,55,95,5,False
555,DarmanitanZen Mode,Fire,Psychic,540,105,30,105,140,105,55,5,False
631,Heatmor,Fire,NaN,484,85,97,66,105,66,65,5,False
653,Fennekin,Fire,NaN,307,40,45,40,62,60,60,6,False
654,Braixen,Fire,NaN,409,59,59,58,90,70,73,6,False
655,Delphox,Fire,Psychic,534,75,69,72,114,100,104,6,False
662,Fletchinder,Fire,Flying,382,62,73,55,56,52,84,6,False
663,Talonflame,Fire,Flying,499,78,81,71,74,69,126,6,False
667,Litleo,Fire,Normal,369,62,50,58,73,54,72,6,False
668,Pyroar,Fire,Normal,507,86,68,72,109,66,106,6,False
721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [30]:
#• Trasformiamo la colonna Name nell'indice; 
df_name= df.set_index("Name")
display(df_name)

,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
Name,,,,,,,,,,,
Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...
Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [31]:
#• Quali sono i Pokémon della prima generazione con attacco > 50 e HP < 60?
filtro1 = df["Generation"] == 1
filtro2 = df["Attack"] > 50
filtro3 = df["HP"] < 60
display(df.loc[filtro1 & filtro2 & filtro3])

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
8,Wartortle,Water,NaN,405,59,63,80,65,80,58,1,False
19,Rattata,Normal,NaN,253,30,56,35,25,35,72,1,False
20,Raticate,Normal,NaN,413,55,81,60,50,70,97,1,False
21,Spearow,Normal,Flying,262,40,60,30,31,31,70,1,False
23,Ekans,Poison,NaN,288,35,60,44,40,54,55,1,False
25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
27,Sandshrew,Ground,NaN,300,50,75,85,20,30,40,1,False
32,Nidoran♂,Poison,NaN,273,46,57,40,40,40,50,1,False
46,Paras,Bug,Grass,285,35,70,55,45,55,25,1,False
50,Diglett,Ground,NaN,265,10,55,25,35,45,95,1,False
51,Dugtrio,Ground,NaN,405,35,80,50,50,70,120,1,False
54,Psyduck,Water,NaN,320,50,52,48,65,50,55,1,False
56,Mankey,Fighting,NaN,305,40,80,35,35,45,70,1,False
58,Growlithe,Fire,NaN,350,55,70,45,70,50,60,1,False
69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
74,Geodude,Rock,Ground,300,40,80,100,30,30,20,1,False
75,Graveler,Rock,Ground,390,55,95,115,45,45,35,1,False
77,Ponyta,Fire,NaN,410,50,85,55,65,65,90,1,False
82,Magneton,Electric,Steel,465,50,60,95,120,70,70,1,False
83,Farfetch'd,Normal,Flying,352,52,65,55,58,62,60,1,False
84,Doduo,Normal,Flying,310,35,85,45,35,35,75,1,False
90,Shellder,Water,NaN,305,30,65,100,45,25,40,1,False
91,Cloyster,Water,Ice,525,50,95,180,85,45,70,1,False
98,Krabby,Water,NaN,325,30,105,90,25,25,50,1,False
99,Kingler,Water,NaN,475,55,130,115,50,50,75,1,False
106,Hitmonlee,Fighting,NaN,455,50,120,53,35,110,87,1,False
107,Hitmonchan,Fighting,NaN,455,50,105,79,35,110,76,1,False
109,Koffing,Poison,NaN,340,40,65,95,60,45,35,1,False
117,Seadra,Water,NaN,440,55,65,95,95,45,85,1,False
118,Goldeen,Water,NaN,320,45,67,60,35,50,63,1,False
133,Eevee,Normal,NaN,325,55,55,50,45,65,55,1,False
140,Kabuto,Rock,Water,355,30,80,90,55,45,55,1,False
147,Dratini,Dragon,NaN,300,41,64,45,50,50,50,1,False