In [2]:
#Abbiamo 25 studenti; memorizzare questo dato in una variabile.
numero_studenti = 25
#Abbiamo 25 studenti; memorizzare questo dato in una variabile e stamparla a video.
print (numero_studenti)

25

In [3]:
#Abbiamo 25 studenti; memorizzare questo dato in una variabile. Arrivano altri 3 studenti; memorizzare questo dato in un'altra variabile.
studenti = 25
nuovi_studenti= 3
#Abbiamo 25 studenti; memorizzare questo dato in una variabile. Arrivano altri 3 studenti;
#memorizzare questo dato in un'altra variabile. Creare un'altra variabile ancora che conterrà la somma delle prime due, poi stamparla a video.
totale_studenti = (studenti + nuovi_studenti)
print (totale_studenti)

28

In [14]:
#Creare una variabile che contiene la stringa "Epicode", quindi stamparla a video.
scuola = "EPICODE"
print (scuola)

TypeError: 'tuple' object is not callable

In [15]:
del print

In [16]:
#Creare una variabile che contiene la stringa "Epicode", quindi stamparla a video.
scuola = "EPICODE"
print (scuola)

EPICODE

In [17]:
#Abbiamo la variabile: x = 10 Incrementarla di 2 e poi moltiplicarla per 3
x = 10
incremento_piu_due = (x+2)
moltiplicazione_per_tre = (x*3)
print (incremento_piu_due)
print (moltiplicazione_per_tre)

12
30

In [20]:
#Creiamo le seguenti stringhe, e per ognuna di esse verifichiamone la lunghezza con la funzione len(): 
#• str1 = "Windows" • str2 = "Excel" • str3 = "Powerpoint" • str4 = "Word"
str1 = "Windows"
str2 = "Excel"
str3 = "Powerpoint"
str4 = "Word"
len (str1)

7

In [21]:
len (str2)

5

In [22]:
len (str3)

10

In [23]:
len (str4)

4

In [28]:
#Calcolare e stampare a video quanti secondi ci sono in un anno non bisestile.
giorno = 365
ore = 24
minuti = 60 
secondi = 60
quanti_secondi_ci_sono_in_un_anno_non_bisestile = (giorno*ore*minuti*secondi)
print (quanti_secondi_ci_sono_in_un_anno_non_bisestile)

31536000

In [41]:
#Abbiamo la seguente stringa: my_string = "I am studying Python" • Trasformarla in modo che tutti i caratteri siano maiuscoli (uppercase) •
#Trasformarla in modo che tutti i caratteri siano minuscoli (lowercase) • Sostituire la sottostringa "Python" con la stringa "a lot"
#• Usare il metodo .strip(); cambia qualcosa? Perché? • Usare il metodo .split() per trovare tutte le parole (token)
my_string = "I am studying Python"
my_string_upper = my_string.upper()
print ("Uppercase: ", my_string_upper)
my_string_lower = my_string.lower()
print ("Lowercase: ", my_string_lower)
my_string_replace = my_string.replace ("Python" , "a lot")
print ("Replece: " , my_string_replace)
my_string_strip = my_string.strip()
print ("Strip: " , my_string_strip)
my_string_split = my_string.split()
print ("Split: " , my_string_split)
#usando strip non cambia nulla perchè in questo caso non ho spazi vuoti all'inizio o alla fine della stringa.

Uppercase:  I AM STUDYING PYTHON
Lowercase:  i am studying python
Replece:  I am studying a lot
Strip:  I am studying Python
Split:  ['I', 'am', 'studying', 'Python']

In [42]:
#Abbiamo due liste, una di studenti e una di corsi: 
#studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"] 
#corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
#Tenendo conto che i dati sono in corrispondenza posizionale, leggiamo con attenzione le due liste.
#Sapendo che Emma segue Data Analyst, Faith segue Backend, Grace segue Frontend, Henry segue Cybersecurity
#alla lista cui mancano dei dati, aggiungiamo i dati mancanti uno alla volta con il metodo .append()
studenti = ["Alex", "Bob", "Cindy", "Dan", "Emma", "Faith", "Grace", "Henry"]
corsi = ["Cybersecurity", "Data Analyst", "Backend", "Frontend", "Data Analyst", "Backend"]
corsi.append("Frontend")
corsi.append("Cybersecurity")
print (corsi)

['Cybersecurity', 'Data Analyst', 'Backend', 'Frontend', 'Data Analyst', 'Backend', 'Frontend', 'Cybersecurity']