In [1]:
import pandas as pd
import numpy as np
df = pd.read_csv("Mappa-dei-pub-circoli-locali-in-Italia.csv",encoding="latin1", sep=";")

In [2]:
#Esaminiamo il dataset: • quanti dati ci sono in totale? 
#• quali sono i metadati? • stampiamo il primo elemento 
#• stampiamo l'ultimo elemento • riusciamo a stampare un elemento a caso? 
#• quali sono gli anni di inserimento presenti? 
#• quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46? 
#• quante attività ci sono nella provincia di Vicenza? 
#• quante enoteche ci sono, e come si chiamano?
#• quante attività ci sono in Lazio e Abruzzo assieme?

In [3]:
#• quanti dati ci sono in totale? 
#• quali sono i metadati? • stampiamo il primo elemento 
#• stampiamo l'ultimo elemento • riusciamo a stampare un elemento a caso? 
print(df.shape)
print(df.info())
display(df.head(1))
display(df.tail(1))
display(df.sample(1))

(2635, 9)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2635 entries, 0 to 2634
Data columns (total 9 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Comune                           2635 non-null   object
 1   Provincia                        2635 non-null   object
 2   Regione                          2635 non-null   object
 3   Nome                             2337 non-null   object
 4   Anno inserimento                 2635 non-null   int64
 5   Data e ora inserimento           2635 non-null   object
 6   Identificatore in OpenStreetMap  2635 non-null   int64
 7   Longitudine                      2635 non-null   float64
 8   Latitudine                       2635 non-null   float64
dtypes: float64(2), int64(2), object(5)
memory usage: 185.4+ KB
None

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
0,ALTRO,ALTRO,ALTRO,NaN,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
2634,TRANI,BARLETTA-ANDRIA-TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

,Comune,Provincia,Regione,Nome,Anno inserimento,Data e ora inserimento,Identificatore in OpenStreetMap,Longitudine,Latitudine
1293,POZZUOLO DEL FRIULI,UDINE,Friuli-Venezia Giulia,NaN,2012,2012-05-23T12:29:20Z,1754672744,13.199144,45.98651

In [4]:
#• quali sono gli anni di inserimento presenti?
df["Anno inserimento"].unique()

array([2011, 2015, 2010, 2012, 2014, 2016, 2013, 2008, 2009, 2007])

In [5]:
#• quante attività ci sono nel quadrato di longitudine 9-10 e latitudine 45-46? 
filtro1 = (df["Longitudine"] >= 9) & (df["Longitudine"] <= 10)
filtro2 = (df["Latitudine"] >= 45) & (df["Latitudine"] <= 46)
attivita_quad = df.loc[filtro1 & filtro2]
display(attivita_quad.shape[0])

306

In [6]:
#• quante attività ci sono nella provincia di Vicenza? 
filtro3 = df["Provincia"] == "VICENZA"
attivita_vicenza = df.loc[filtro3]
display(attivita_vicenza.shape[0])

73

In [7]:
#• quante enoteche ci sono, e come si chiamano?
enoteche = []
for nome in df["Nome"]:
    if pd.notna(nome) and "enoteca" in nome.lower():
        enoteche.append(nome)
print(len(enoteche))
display(enoteche)

6

['Enoteca con Cucina""Tirolin""',
 'Concordia Enoteca',
 'Enoteca Umberto',
 'Enoteca ""Al Brindisi""',
 'Enoteca ""da Massimo""',
 'Enoteca Il Violino Rosso']

In [8]:
#• quante attività ci sono in Lazio e Abruzzo assieme?
filtro1 = df["Regione"] == "Lazio" 
filtro2 = df["Regione"] == "Abruzzo"
attivita_Lazio_Abruzzo = df.loc[filtro1 | filtro2]
print(attivita_Lazio_Abruzzo.shape[0])

337

In [9]:
#Il dataset insurance.csv dei beginner_datasets contiene dati su caratteristiche e abitudini delle persone 
#rispetto ai costi individuali per le cure mediche come premio per le assicurazioni sulla salute.
#• Visualizziamone le dimensioni, un'anteprima, e osserviamo i nomi di colonna; 
#• Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
#• E rispetto a smoker? E a sex? 
#• Quali sono i descrittori statistici di bmi? 
# Quali sono minimo, media e massimo di charges rispetto ai diversi quartili dei valori di bmi? 
#Nota: è lo stesso esercizio della volta scorsa, ma stavolta da eseguire con il metodo .groupby()
ins = pd.read_csv("insurance.csv")
print(ins.shape)
display(ins.sample(10))
print(ins.columns)

(1338, 7)

      age     sex     bmi  children smoker     region      charges
1274   26    male  27.060         0    yes  southeast  17043.34140
436    22    male  31.730         0     no  northeast   2254.79670
196    39  female  32.800         0     no  southwest   5649.71500
13     56  female  39.820         0     no  southeast  11090.71780
255    55  female  25.365         3     no  northeast  13047.33235
503    19    male  30.250         0    yes  southeast  32548.34050
861    38  female  28.000         3     no  southwest   7151.09200
277    22  female  24.300         0     no  southwest   2150.46900
1044   55    male  35.245         1     no  northeast  11394.06555
1092   23    male  32.700         3     no  southwest   3591.48000

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [10]:
#• Quali sono le medie di charges rispetto a region? Ci sono differenze significative? 
medie_charges_per_regione = ins.groupby("region")["charges"].mean().round(2)
print(medie_charges_per_regione)

region
northeast    13406.38
northwest    12417.58
southeast    14735.41
southwest    12346.94
Name: charges, dtype: float64

In [11]:
#• E rispetto a smoker? E a sex?
medie_charges_smo = ins.groupby("smoker")["charges"].mean().round(2)
medie_charges_sex = ins.groupby("sex")["charges"].mean().round(2)
print(medie_charges_smo)
print(medie_charges_sex)

smoker
no      8434.27
yes    32050.23
Name: charges, dtype: float64
sex
female    12569.58
male      13956.75
Name: charges, dtype: float64

In [12]:
#• Quali sono i descrittori statistici di bmi?
ins["bmi"].describe().round(2)

count    1338.00
mean       30.66
std         6.10
min        15.96
25%        26.30
50%        30.40
75%        34.69
max        53.13
Name: bmi, dtype: float64

In [13]:
#Carichiamo in un DataFrame il dataset iris.csv dei beginner_datasets e calcoliamo: 
#• La media della lunghezza dei petali di tutto il dataset 
#• La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby() 
#• Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
iris = pd.read_csv("iris.csv")
print(iris.shape)
display(iris.sample(10))
print(iris.columns)

(150, 5)

     sepal_length  sepal_width  petal_length  petal_width          species
0             5.1          3.5           1.4          0.2      Iris-setosa
100           6.3          3.3           6.0          2.5   Iris-virginica
139           6.9          3.1           5.4          2.1   Iris-virginica
149           5.9          3.0           5.1          1.8   Iris-virginica
39            5.1          3.4           1.5          0.2      Iris-setosa
72            6.3          2.5           4.9          1.5  Iris-versicolor
7             5.0          3.4           1.5          0.2      Iris-setosa
109           7.2          3.6           6.1          2.5   Iris-virginica
61            5.9          3.0           4.2          1.5  Iris-versicolor
33            5.5          4.2           1.4          0.2      Iris-setosa

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [14]:
#• La media della lunghezza dei petali di tutto il dataset 
print(iris["petal_length"].mean().round(2))

3.76

In [15]:
#• La media della lunghezza dei petali per ogni specie di Iris, utilizzando il metodo .groupby()
mean_lung_pet = iris.groupby("species")["petal_length"].mean().round(2)
print(mean_lung_pet)

species
Iris-setosa        1.46
Iris-versicolor    4.26
Iris-virginica     5.55
Name: petal_length, dtype: float64

In [16]:
#• Media, minimo e massimo della larghezza dei sepali per ogni specie, utilizzando .groupby() e .agg()
stat_sep = iris.groupby("species")["sepal_width"].agg(["mean","min","max"])
print(stat_sep)

                  mean  min  max
species
Iris-setosa      3.418  2.3  4.4
Iris-versicolor  2.770  2.0  3.4
Iris-virginica   2.974  2.2  3.8

In [17]:
#Nei beginner_datasets, il dataset wine.csv contiene delle analisi organolettiche su diverse qualità di vini: 
#• Qual è la media di concentrazione alcolica per ogni qualità? Ci sono differenze? E rispetto alla media totale? 
#• C'è differenza nella concentrazione alcolica per vini bianchi e vini rossi? 
#• Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? 
#• E per i solfati?
wine = pd.read_csv("wine.csv")
print(wine.shape)
display(wine.sample(15))
print(wine.columns)

(6497, 13)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality,type
3912,6.8,0.32,0.30,3.30,0.029,15.0,80.0,0.99061,3.33,0.63,12.6,7,white
4684,8.5,0.23,0.40,9.90,0.036,24.0,88.0,0.99510,3.02,0.42,10.5,6,white
2423,8.4,0.18,0.42,5.10,0.036,7.0,77.0,0.99390,3.16,0.52,11.7,5,white
3267,7.9,0.18,0.33,1.20,0.033,20.0,72.0,0.99220,3.12,0.38,10.5,7,white
2742,7.2,0.24,0.30,1.60,0.048,27.0,131.0,0.99330,3.25,0.45,10.5,5,white
4805,6.6,0.29,0.39,6.75,0.031,22.0,98.0,0.99130,3.15,0.80,12.9,7,white
655,9.7,0.55,0.17,2.90,0.087,20.0,53.0,1.00040,3.14,0.61,9.4,5,red
157,7.1,0.43,0.42,5.50,0.071,28.0,128.0,0.99730,3.42,0.71,10.5,5,red
4115,7.1,0.32,0.29,4.00,0.038,33.0,170.0,0.99463,3.27,0.64,10.2,6,white
4995,7.4,0.29,0.28,10.20,0.032,43.0,138.0,0.99510,3.10,0.47,10.6,6,white
452,6.8,0.56,0.03,1.70,0.084,18.0,35.0,0.99680,3.44,0.63,10.0,6,red
5876,7.2,0.22,0.35,5.50,0.054,37.0,183.0,0.99474,3.08,0.50,10.3,5,white
139,7.8,0.56,0.19,2.00,0.081,17.0,108.0,0.99620,3.32,0.54,9.5,5,red
2386,7.7,0.34,0.28,11.00,0.040,31.0,117.0,0.99815,3.27,0.29,9.2,6,white
3361,6.4,0.17,0.27,1.50,0.037,20.0,98.0,0.99160,3.46,0.42,11.0,7,white

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality', 'type'],
      dtype='object')

In [18]:
#• Qual è la media di concentrazione alcolica per ogni qualità?
#Ci sono differenze? E rispetto alla media totale?
conc_med_alc = wine.groupby("quality")["alcohol"].mean().round(2)
print (conc_med_alc)

#dv std? per vedere le differenze tra le varie qualità

conc_med_tot = wine["alcohol"].mean().round(2)
print (conc_med_tot)

diff_rispetto_tot = conc_med_alc - conc_med_tot
print (diff_rispetto_tot)

quality
3    10.22
4    10.18
5     9.84
6    10.59
7    11.39
8    11.68
9    12.18
Name: alcohol, dtype: float64
10.49
quality
3   -0.27
4   -0.31
5   -0.65
6    0.10
7    0.90
8    1.19
9    1.69
Name: alcohol, dtype: float64

In [19]:
#• Rifacendo le analisi dei due punti precedenti ma per il pH, cambia qualcosa? 
pH_med = wine.groupby("quality")["pH"].mean().round(2)
print (pH_med)

pH_med_tot = wine["pH"].mean().round(2)
print (pH_med_tot)

diff_rispetto_tot = pH_med - pH_med_tot
print (diff_rispetto_tot)

quality
3    3.26
4    3.23
5    3.21
6    3.22
7    3.23
8    3.22
9    3.31
Name: pH, dtype: float64
3.22
quality
3    0.04
4    0.01
5   -0.01
6    0.00
7    0.01
8    0.00
9    0.09
Name: pH, dtype: float64

In [20]:
#• E per i solfati?
solfati_med = wine.groupby("quality")["sulphates"].mean().round(2)
print (solfati_med)

solfati_med_tot = wine["sulphates"].mean().round(2)
print (solfati_med_tot)

diff_rispetto_tot = solfati_med - solfati_med_tot
print (diff_rispetto_tot)

quality
3    0.51
4    0.51
5    0.53
6    0.53
7    0.55
8    0.51
9    0.47
Name: sulphates, dtype: float64
0.53
quality
3   -0.02
4   -0.02
5    0.00
6    0.00
7    0.02
8   -0.02
9   -0.06
Name: sulphates, dtype: float64

In [21]:
#Nei beginner_datasets, il file boston.csv contiene il Boston Housing Dataset, 
#che deriva dalle informazioni raccolte dal Census Service degli Stati Uniti sulle abitazioni 
#nell'area di Boston. 
#• La media del prezzo delle case cambia a seconda della distanza dal fiume Charles? 
#• Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato? 
#• Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? 
#Appare esserci una qualche correlazione? Come si può spiegare il risultato? 
#• Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? 
#E delle tasse?
bost = pd.read_csv("boston.csv")
print(bost.shape)
display(bost.sample(15))
print(bost.columns)

(506, 14)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
304,0.05515,33.0,2.18,0,0.4720,7.236,41.1,4.0220,7,222,18.4,393.68,6.93,36.1
59,0.10328,25.0,5.13,0,0.4530,5.927,47.2,6.9320,8,284,19.7,396.90,9.22,19.6
326,0.30347,0.0,7.38,0,0.4930,6.312,28.9,5.4159,5,287,19.6,396.90,6.15,23.0
51,0.04337,21.0,5.64,0,0.4390,6.115,63.0,6.8147,4,243,16.8,393.97,9.43,20.5
213,0.14052,0.0,10.59,0,0.4890,6.375,32.3,3.9454,4,277,18.6,385.81,9.38,28.1
153,2.14918,0.0,19.58,0,0.8710,5.709,98.5,1.6232,5,403,14.7,261.95,15.79,19.4
353,0.01709,90.0,2.02,0,0.4100,6.728,36.1,12.1265,5,187,17.0,384.46,4.50,30.1
251,0.21409,22.0,5.86,0,0.4310,6.438,8.9,7.3967,7,330,19.1,377.07,3.59,24.8
273,0.22188,20.0,6.96,1,0.4640,7.691,51.8,4.3665,3,223,18.6,390.77,6.58,35.2
235,0.33045,0.0,6.20,0,0.5070,6.086,61.5,3.6519,8,307,17.4,376.75,10.88,24.0
151,1.49632,0.0,19.58,0,0.8710,5.404,100.0,1.5916,5,403,14.7,341.60,13.28,19.6
281,0.03705,20.0,3.33,0,0.4429,6.968,37.2,5.2447,5,216,14.9,392.23,4.59,35.4
343,0.02543,55.0,3.78,0,0.4840,6.696,56.4,5.7321,5,370,17.6,396.90,7.18,23.9
442,5.66637,0.0,18.10,0,0.7400,6.219,100.0,2.0048,24,666,20.2,395.69,16.59,18.4
355,0.10659,80.0,1.91,0,0.4130,5.936,19.5,10.5857,4,334,22.0,376.04,5.57,20.6

Index(['crim', 'zn', 'indus', 'chas', 'nox', 'rm', 'age', 'dis', 'rad', 'tax',
       'ptratio', 'black', 'lstat', 'medv'],
      dtype='object')

In [22]:
#• La media del prezzo delle case cambia a seconda della distanza dal fiume Charles?
med_house_river = bost.groupby("chas")["medv"].mean().round(2)
print (med_house_river)
#cambia in media di 6.000 dollari

chas
0    22.09
1    28.44
Name: medv, dtype: float64

In [23]:
#• Si nota una correlazione tra il tasso di criminalità e il valore delle abitazioni? Come si può spiegare il risultato?
#df["col1"].corr(df["col2"])
correlation = bost["crim"].corr(bost["medv"])
print (correlation)
#i due sono inversamente correlati perchè il coefficiente di correlazione è negativo, ciò significa che al crescere del tasso
#di criminalità diminuisce il prezzo delle abitazioni e viceversa.

-0.3883046085868114

In [24]:
#• Qual è la media del numero di stanze rispetto al rapporto alunni-insegnanti? E del valore delle case? 
#Appare esserci una qualche correlazione? Come si può spiegare il risultato?
med_rooms = bost.groupby("ptratio")["rm"].mean().round(2)
print (med_rooms)
correlation1 = bost["ptratio"].corr(bost["rm"])
print (correlation1) #coeff. correlazione negativo = sono inversamente proporzionali, se aumenta il numero delle stanze,
#aumenta il numero di alunni, quindi ptratio diminuisce.
med_rooms_house = bost.groupby("medv")["rm"].mean().round(2)
print (med_rooms_house)
correlation2 = bost["medv"].corr(bost["rm"])
print (correlation2) #coeff. correlazione positivo = sono direttamente proporzionali, se aumenta il numero delle stanze,
#la casa costa di più

ptratio
12.6    7.22
13.0    7.41
13.6    7.92
14.4    7.88
14.7    6.25
14.8    6.75
14.9    7.31
15.1    6.82
15.2    6.42
15.3    6.71
15.5    7.24
15.6    6.70
15.9    7.00
16.0    6.23
16.1    6.43
16.4    6.14
16.6    6.34
16.8    6.15
16.9    6.02
17.0    6.87
17.3    6.38
17.4    7.21
17.6    6.82
17.8    6.50
17.9    6.13
18.0    7.22
18.2    6.28
18.3    6.52
18.4    6.29
18.5    6.29
18.6    6.11
18.7    6.41
18.8    5.96
18.9    5.79
19.0    6.45
19.1    6.23
19.2    6.05
19.6    6.22
19.7    6.30
20.1    5.59
20.2    6.02
20.9    6.27
21.0    6.04
21.1    5.89
21.2    6.03
22.0    5.80
Name: rm, dtype: float64
-0.3555014945590855
medv
5.0     5.57
5.6     5.99
6.3     5.85
7.0     4.97
7.2     6.02
        ...
46.7    7.69
48.3    8.25
48.5    7.85
48.8    8.40
50.0    7.48
Name: rm, Length: 229, dtype: float64
0.6953599470715388

In [25]:
#• Rispetto all'accessibilità alle autostrade, cambia qualcosa la media delle età delle abitazioni? E del numero di stanze? 
#E delle tasse?
correlation3 = bost["rad"].corr(bost["age"])
print (correlation3) #coeff. positivo = le prime case sono state costruite vicino all'autostrada
correlation4 = bost["rad"].corr(bost["rm"])
print (correlation4) #coeff. negativo = più sono vicine all'autostrada meno stanze ci sono
correlation5 = bost["rad"].corr(bost["tax"])
print (correlation5) #coeff. positivo (vicino a uno) le tasse crescono in proporzione all'avvicinarsi all'autostrada

0.45602245175161366
-0.20984666776610889
0.9102281885331845

In [26]:
#Abbiamo un DataFrame di dipendenti: 
employees_df = pd.DataFrame({ 'employee_id': [101, 102, 103, 104, 105], 
                             'name': ['Alice', 'Bob', 'Charlie', 'David', 'Emma'], 
                             'department_id': [1, 2, 1, 2, 3] })
#E un DataFrame di dipartimenti: 
departments_df = pd.DataFrame({ 'department_id': [1, 2, 3], 
                               'department_name': ['HR', 'IT', 'Finance'], 
                               'location': ['New York', 'San Francisco', 'Chicago'] })
#• Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni 
#sia sui dipendenti che sui dipartimenti, usando la funzione .merge() 
#• Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente; 
#poi unire i due dataset mediante il metodo .join() • Ci sono differenze nel risultato? Quali? Perché?

In [27]:
#• Unire questi DataFrame in base alla colonna comune department_id, in modo da avere nel risultato informazioni 
#sia sui dipendenti che sui dipartimenti, usando la funzione .merge() 
pd.merge(employees_df,departments_df, on = "department_id", how = "inner")

   employee_id     name  department_id department_name       location
0          101    Alice              1              HR       New York
1          102      Bob              2              IT  San Francisco
2          103  Charlie              1              HR       New York
3          104    David              2              IT  San Francisco
4          105     Emma              3         Finance        Chicago

In [28]:
#• Per ogni DataFrame, trasformare la colonna department_id nell'indice, facendo in modo che la modifica sia permanente
employees_df.set_index("department_id", inplace=True)
departments_df.set_index("department_id", inplace=True)

In [29]:
display (employees_df)
display (departments_df)

               employee_id     name
department_id
1                      101    Alice
2                      102      Bob
1                      103  Charlie
2                      104    David
3                      105     Emma

              department_name       location
department_id
1                          HR       New York
2                          IT  San Francisco
3                     Finance        Chicago

In [30]:
#poi unire i due dataset mediante il metodo .join() • Ci sono differenze nel risultato? Quali? Perché?
df_joined = employees_df.join(departments_df, how="inner")
display(df_joined)
#l'unica differenza è che in questo caso l'indice è quello che abbiamo settato (department_id) il resto delle colonne 
#e delle righe sono uguali.

               employee_id     name department_name       location
department_id
1                      101    Alice              HR       New York
2                      102      Bob              IT  San Francisco
1                      103  Charlie              HR       New York
2                      104    David              IT  San Francisco
3                      105     Emma         Finance        Chicago

In [31]:
#Dal database AdventureWorksDW importiamo le tabelle dimemployee e dimemployeesalesterritory come DataFrame 
#• Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey 
#• Controlliamo la dimensione del DataFrame risultante: è quella attesa? 
#• Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante 
#della join precedente, usando le colonne SalesTerritoryKey 
#• Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region) 
#• Valutiamo la media del BaseRate per ogni paese: ci sono differenze?
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query1 = "SELECT * FROM dimemployee"
dimemployee_df = pd.read_sql(query1, db_engine)
display(dimemployee_df)
query2 = "SELECT * FROM dimemployeesalesterritory"
dimemployeesalesterritory_df = pd.read_sql(query2, db_engine)
display(dimemployeesalesterritory_df)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,Gender,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,M,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,M,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,M,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,M,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
291,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,M,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
292,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,M,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
293,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,M,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager
294,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,F,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative
295,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,F,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative

    EmployeeKey  SalesTerritoryKey
0           272                  1
1           277                  1
2           286                  1
3           289                  1
4           293                  1
5           272                  2
6           277                  2
7           281                  2
8           272                  3
9           277                  3
10          281                  3
11          282                  3
12          283                  3
13          272                  4
14          277                  4
15          282                  4
16          286                  4
17          287                  4
18          272                  5
19          277                  5
20          281                  5
21          285                  5
22          272                  6
23          277                  6
24          284                  6
25          288                  6
26          277                  7
27          290                  7
28          291                  7
29          292                  7
30          277                  8
31          290                  8
32          295                  8
33          277                  9
34          294                  9
35          296                  9
36          277                 10
37          290                 10
38          291                 10

In [44]:
#• Effettuiamo un join tra i due DataFrame usando le colonne EmployeeKey
#• Controlliamo la dimensione del DataFrame risultante: è quella attesa?
employee_joined = pd.merge(dimemployee_df,dimemployeesalesterritory_df, on = "EmployeeKey", how = "left")
display(employee_joined)

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,PayFrequency,BaseRate,VacationHours,SickLeaveHours,CurrentFlag,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,1,12.4500,21,30,1,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,2,13.4615,42,41,1,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,2,43.2692,2,21,1,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,2,29.8462,48,80,1,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,2,23.0769,34,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7.0
313,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,2,23.0769,39,39,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1.0
314,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,2,48.1010,20,30,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9.0
315,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,2,23.0769,35,37,1,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8.0
316,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,2,23.0769,36,38,1,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9.0

In [45]:
#• Importiamo ora la tabella dimsalesterritory ed effettuiamo un join tra questa e il DataFrame risultante 
#della join precedente, usando le colonne SalesTerritoryKey 
import os
import dotenv
import sqlalchemy
import pandas as pd

dotenv.load_dotenv(override=True, dotenv_path="credenziali.env")

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

connection_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
print(username, password, host, dbname)
db_engine = sqlalchemy.create_engine(connection_string)
query3 = "SELECT * FROM dimsalesterritory"
dimsalesterritory_df = pd.read_sql(query3, db_engine)
display(dimsalesterritory_df)

studente_dapt Ep1c0d3!!D4t4**4n4lys1s epicode-data-pt-mysql.cvetyjye2qbl.eu-central-1.rds.amazonaws.com AdventureWorksDW

,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,1,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
1,2,2,Northeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
2,3,3,Central,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
3,4,4,Southwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
4,5,5,Southeast,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
5,6,6,Canada,Canada,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
6,7,7,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
7,8,8,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
8,9,9,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
9,10,10,United Kingdom,United Kingdom,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
10,11,0,Corporate HQ,Corporate HQ,Corporate HQ,None

In [52]:
territory_joined = pd.merge(employee_joined,dimsalesterritory_df, on = "SalesTerritoryKey", how = "left")
display(territory_joined)
print(territory_joined.columns)

,EmployeeKey,ParentEmployeeKey,EmployeeNationalIDAlternateKey,ParentEmployeeNationalIDAlternateKey,FirstName,LastName,MiddleName,NameStyle,Title,HireDate,...,SalesPersonFlag,DepartmentName,EmployeePhoto,Position,SalesTerritoryKey,SalesTerritoryAlternateKey,SalesTerritoryRegion,SalesTerritoryCountry,SalesTerritoryGroup,SalesTerritoryImage
0,1,18.0,14417807,446466105.0,Guy,Gilbert,R,0,Production Technician - WC60,2006-01-28,...,0,Production,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN,NaN,NaN,NaN,NaN,NaN
1,2,7.0,253022876,24756624.0,Kevin,Brown,F,0,Marketing Assistant,2006-08-26,...,0,Marketing,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN,NaN,NaN,NaN,NaN,NaN
2,3,14.0,509647174,245797967.0,Roberto,Tamburello,None,0,Engineering Manager,2007-06-11,...,0,Engineering,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN,NaN,NaN,NaN,NaN,NaN
3,4,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN,NaN,NaN,NaN,NaN,NaN
4,5,3.0,112457891,509647174.0,Rob,Walters,None,0,Senior Tool Designer,2007-07-05,...,0,Tool Design,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,None,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
312,292,290.0,134219713,982310417.0,Ranjit,Varkey Chudukatil,R,0,Sales Representative,2011-12-29,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,7.0,7.0,France,France,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
313,293,272.0,90836195,502097814.0,Tete,Mensa-Annan,A,0,Sales Representative,2012-04-30,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,1.0,1.0,Northwest,United States,North America,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
314,294,277.0,481044938,112432117.0,Syed,Abbas,E,0,Pacific Sales Manager,2012-10-12,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Manager,9.0,9.0,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
315,295,290.0,954276278,982310417.0,Rachel,Valdez,B,0,Sales Representative,2012-12-28,...,1,Sales,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...,Sales Representative,8.0,8.0,Germany,Germany,Europe,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...
316,296,294.0,758596752,481044938.0,Lynn,Tsoflias,N,0,Sales Representative,2012-12-28,...,1,Sales,b'\x89PNG\r\n\x1a\n\x00\x00\x00\rIHDR\x00\x00\...,Sales Representative,9.0,9.0,Australia,Australia,Pacific,b'\xff\xd8\xff\xe0\x00\x10JFIF\x00\x01\x01\x01...

Index(['EmployeeKey', 'ParentEmployeeKey', 'EmployeeNationalIDAlternateKey',
       'ParentEmployeeNationalIDAlternateKey', 'FirstName', 'LastName',
       'MiddleName', 'NameStyle', 'Title', 'HireDate', 'BirthDate', 'LoginID',
       'EmailAddress', 'Phone', 'MaritalStatus', 'EmergencyContactName',
       'EmergencyContactPhone', 'SalariedFlag', 'Gender', 'PayFrequency',
       'BaseRate', 'VacationHours', 'SickLeaveHours', 'CurrentFlag',
       'SalesPersonFlag', 'DepartmentName', 'EmployeePhoto', 'Position',
       'SalesTerritoryKey', 'SalesTerritoryAlternateKey',
       'SalesTerritoryRegion', 'SalesTerritoryCountry', 'SalesTerritoryGroup',
       'SalesTerritoryImage'],
      dtype='object')

In [50]:
#• Su questo DataFrame contare quanti dipendenti ci sono per ogni paese (country) e per ogni regione (region)
dipendenti_per_country = territory_joined.groupby("SalesTerritoryCountry")["EmployeeKey"].count()
print (dipendenti_per_country)

SalesTerritoryCountry
Australia          3
Canada             4
France             4
Germany            3
United Kingdom     3
United States     22
Name: EmployeeKey, dtype: int64

In [51]:
dipendenti_per_regione = territory_joined.groupby("SalesTerritoryRegion")["EmployeeKey"].count()
print (dipendenti_per_regione)

SalesTerritoryRegion
Australia         3
Canada            4
Central           5
France            4
Germany           3
Northeast         3
Northwest         5
Southeast         4
Southwest         5
United Kingdom    3
Name: EmployeeKey, dtype: int64

In [53]:
#• Valutiamo la media del BaseRate per ogni paese: ci sono differenze?
media_baserate_per_country = territory_joined.groupby("SalesTerritoryCountry")["BaseRate"].mean()
print (media_baserate_per_country)

SalesTerritoryCountry
Australia         47.764433
Canada            41.592550
France            41.592550
Germany           47.764433
United Kingdom    47.764433
United States     39.909309
Name: BaseRate, dtype: float64